[2021-05-03 08:50] RalphBragg opened #1 "Level of Assurances need to be defined"
The current drafts do not include any definitions of what loa2 or loa3 authentication requirements are. The GT Security and GT Security and Fraud need to define them and propose a pull request for the appropriate text.

[2021-05-03 08:51] RalphBragg opened #2 "Update References post publishing"
References need to be updated now that documents have been uploaded to their locations.

[2021-05-03 09:40] RalphBragg opened #3 "Add Consent and Privacy Considerations"
Add Consent and Privacy Considerations

[2021-05-03 09:41] #3 closed

[2021-05-03 09:48] RalphBragg opened #5 "Remove references to 'Consent Specification'"
The consent sections has been folded into the Security Profile under privacy considerations. References to this 3rd document need to removed.

[2021-05-03 10:03] RalphBragg opened #6 "Add missing screen shots to the user guides"
Add missing screen shots to the user guides

[2021-05-03 10:04] RalphBragg opened #7 "Add TODO example objects to the user guides"
This activity can be completed once the DCR and Security Profiles have been reviewed.

[2021-05-03 10:06] RalphBragg opened #8 "Add updated SSA Image to Dynamic Client Registration Specification"
The recent agreement to standardize on 'uri' instead of endpoint will require the images of the Software Statement Assertion be regenerated and then updated in the Dynamic Client Registration Specifcation.

[2021-05-03 10:08] RalphBragg commented on #6
As part of this ticket all of the images and web sequence diagrams need to be moved to an images folder in git with appropriate naming and standardization.

[2021-05-03 10:32] #2 closed

[2021-05-03 10:32] #5 closed

[2021-05-04 18:40] EkkeErick opened #12 "ICP Brasil CNPJ Field"
We need the Security WG to clarify about the format of the CNPJ.
On the ICP Profile it says it's a number of 14 digits.

Considering the issues we may find with the leading zeroes on the CNPJ we need to understand if it must be stored as a string, or as a number of up to 14 digits, zero padded. After this definition we will set it accordingly on the json libraries.

[2021-05-04 20:39] RalphBragg commented on #12
I have no preference either way however it would be good to get security and the api teams to provide an opinion. It is documented in different ways in different specifications so it would be good to pick a standard and align to it if possible.

[2021-05-05 18:02] EkkeErick commented on #12
Answer on Behalf of Security WG: Short Answer: You can consider it as a string.

But thinking about filling in the field with 14 positions and filling in with “0” in the absence of data and, in addition, in cases where CPNJ starts with “0” too, I understand that the field should be in the string format.

Even the CNPJ OID in the e-CNPJ is a string.

According to the RFC on the subject "The set of

[2021-05-06 12:30] andreborges01 opened #14 "Auth flow detailment"
Both guides must show in more detail every single step that is necessary to follow and understand whole flow related with authorization and authentication process, including details about how TTP client and the Authorizarion Server gets all necessary public keys (and certificates - including which kind of certificates - and "key usage" - are necessary) and every step to TTP encrypt ans ASPSP (espe

[2021-05-06 12:31] andreborges01 opened #15 "Suggestion :: Unify guides"
The guides could be unified, as it is useful, even for the development made by ASPSP, to know the details of the `request object` and the flows detailed in the guide for TTP. I think joining these documents would simplify to developers.

[2021-05-06 12:32] andreborges01 opened #16 "Attribute details"
It is important to get more detail on both guides, especially the attributes of the token (`refresh_token` and` access_token`). Security profile must specify the requirements for authorizaition_code, including it´s expiration time and response in case of error or timeout. It is necessary to explain all the attributes of the tokens, endpoints, request objets and responses.

[2021-05-06 12:33] andreborges01 opened #17 "Error use cases"
Error use cases (or error responses) must be covered at user guides.For example, what would happen if the TTP journey was interrupted after obtaining `authorization_code`? Which error responses and consent status will follow if authorization_code expires before getting access ans refresh tokens?  These cases could be detailed on item 4.3.3 of TTP user guide.

[2021-05-06 12:47] andreborges01 opened #18 "regulatory roles"
As we don´t know which are the "regulatory roles" defined to Open Banking BR we don´t going to suggests complimentary scopes, but these are scopes, endpoints and permissions described to phase 2, as below:

**Scopes**
customers
accounts
creditcardaccounts
loans
financings
invoice-financings
unrranged-accounts-overdraft

**Permissions**
customers.personal.identifications.read
customers.personal.adi

[2021-05-06 12:51] andreborges01 opened #19 "BCB Manuals"
References to BCB manual´s should be present in these documents.

https://www.bcb.gov.br/estabilidadefinanceira/exibenormativo?tipo=Instru%C3%A7%C3%A3o%20Normativa%20BCB&numero=99

https://www.bcb.gov.br/estabilidadefinanceira/exibenormativo?tipo=Resolu%C3%A7%C3%A3o%20Conjunta&numero=1

[2021-05-06 12:53] andreborges01 opened #20 "PKCE requirements"
Security Profile must explain in a short sentense PKCE requirement and which cyber risk it mitigates.

[2021-05-06 12:53] andreborges01 opened #21 "DCR image in dark mode"
DCR image flow is not well exibit when in github dark mode.

[2021-05-06 12:54] andreborges01 opened #22 "Image Tool"
Which tool was used to draw those images? Draw.io? Could you please include XML file (".drwaio")?

[2021-05-06 16:08] #12 closed

[2021-05-06 16:23] RalphBragg commented on #20
The security profile is a profile of OpenID FAPI Advanced Final. As it says in the notes, it is expected that all implementers have read that profile and understand it. This profile does not replace the underlying security specification.

A requirement to read (and understand) PKCE is included in the tpp end2end user guide.
https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/tpp-user-g

[2021-05-06 16:24] RalphBragg commented on #22
Good point - i will include the websequencediagram UML in the documentation publication.

[2021-05-06 16:26] RalphBragg commented on #21
The images are rendered as SVG which is the only format that the IETF xml2rfc specification supports. The output is intended to be the HTML versions. I will put it on the backlog to re-render the images with an explicit white background.

[2021-05-06 16:27] RalphBragg commented on #19
Hi - feel free to propose a pull request for the text and where it should go.

[2021-05-06 16:35] RalphBragg commented on #18
This mapping of 'accounts'  was provided by the Security team from consultation with the API team.
https://openbanking-brasil.github.io/areadesenvolvedor/swagger/swagger_loans_apis.yaml An example API does not call out additional scope just the permission codes.

Multiple 'scopes' to permissions actually makes no sense and significantly complicates client management.
@ErickErick - can you please a

[2021-05-06 16:47] RalphBragg commented on #17
I agree partially - the error codes and responses are defined in OpenID Connect and RFC6749. The consent transitions states are unclear and do need work, i'd welcome a conversation with someone to discuss this. The mechanisms to recover a grant / consent are already in place, just reuse a consent:{consent_id} scope. If everyone is happy with this mechanism then it can be documented in the consent

[2021-05-06 16:53] RalphBragg commented on #16
The security profile describes how to use the standards. The standards describe what the standards are. The two examples given here are a classic misunderstanding of who defines what.

A bank is responsible for the type, shape, format of access_tokens and refresh_tokens. The only two servers that are the intended audience of a Banks Issued Refresh Token is the Bank and the only intended audience o

[2021-05-06 16:54] RalphBragg commented on #15
Awaiting more comments.

[2021-05-06 16:56] RalphBragg commented on #14
Both of these are drafts with a lot more explicit examples to come. once the security profiles have been signed off.

[2021-05-06 16:58] RalphBragg commented on #18
Will be discussed in todays security meeting.
Tx Renan.

[2021-05-06 19:10] josenogueiradalmeida opened #23 "Improvement for the doc Certificate Guide - Add RA and CA defintion"
In the doc [Certificate Guide](https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-ICP-certificate-guide.pdf), it would help to remember the very basic definition for RA and CA, as well the difference between them.

For instance: (from wikipedia)
The PKI role that may be delegated by a CA to assure valid and correct registration is called a registration authority (R

[2021-05-06 19:22] josenogueiradalmeida opened #24 "ASPSP User Guide: more details about column "Well Known" in the registering resources table"
In the [ASPSP User Guide ](https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/aspsp-user-guide.md), there is a Registering Resources Table as an example showing different brands, resources and links. However, the links are all the same for each Auth ID in the column "Well Known".  You may want to give additional comments about the meaning of this column,

[2021-05-07 07:26] RalphBragg commented on #24
Hi - I've just checked and each of the well knowns is correct for the brands. Could you please re-check and close the ticket, alternatively if something is wrong. Feel free to propose a pull request.

[2021-05-07 07:31] RalphBragg commented on #23
The PDF has been created by the ICP and Security Working Groups. Ideally a mark down version of the document would be created so that it can be worked on and improved. Marcos is not currently active on this git but it would be useful if he could be.

[2021-05-07 11:13] #8 closed

[2021-05-07 11:13] RalphBragg commented on #8
This is no longer required. An example of the SSA will be included instead of the image.

[2021-05-07 17:52] josenogueiradalmeida opened #26 "FAPI clarification in TPP User Guide"
In the [TPP User Guider - Consent Sequence Diagram](https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/tpp-user-guide.md#11-sequence-diagram), the first interaction between TPP and BankAS is mTLS connection establishment and then there is a possibility to use private_key_jwt instead of tls_client_auth authentication method.

Considering the decision to use FAPI Advanced Security Profi

[2021-05-07 18:06] josenogueiradalmeida commented on #24
Ok! The well-known URI is a kind of pattern to configure applications with the OpenID Connect (OIDC) discovery documents, therefore I guess we can close this issue.

Thanks!

[2021-05-07 18:37] alex-siqueira opened #28 "Should we add additional verifications to the DCR flows?"
The transport certificates issued by ICP-Brasil hold custom attributes that authorization servers could use to cross-check the DCR / SSA request information. For example:

- software statement ID
- participant code

Since ICP Brasil checks these attributes in the Directory, I think we could improve the security of the DCR by checking if they match the values provided by the client in the DCR reque

[2021-05-07 18:42] RalphBragg commented on #26
Hi,

The FAPI Advanced security profile allows both mechanisms to be used. The mechanism that the bank supports is advertise on the .well-known/openid-configuration file.

https://openid.net/specs/openid-financial-api-part-2-1_0.html Clause 5.2.2.14

The TPP User Guide will contain both examples.

[2021-05-07 18:46] RalphBragg commented on #28
Banks really should just ignore all values from the outer request that they can and extract the attributes necessary from the SSA. There are some attributes that you can't do that without. I can include an extra 'should' clause

[2021-05-07 19:02] RalphBragg commented on #28
Additional Clause Added.

[2021-05-07 19:04] RalphBragg commented on #16
As discussed on the security working group this morning, this is entirely in the domain of the banks.
@alex-siqueira  - any comments?

[2021-05-09 19:11] DeiGratia33 commented on #23
The certificate DOC uploaded to the github will not be used as guidance. Please refer to the padrao_certificados.md as future guidance for Certificates.

[2021-05-09 19:14] DeiGratia33 opened #30 "Registering an Application flow"
Third Party Provider End To End User Guide
1.0 Registering an Application
	- Only the transport certificate will be unique by Application.
	- Remove the ICP-Brasil certificate request process, this is done out of the flow. For the ICP-Brasil, as production, need to include a step where the entity will upload the certificate and associate it with the application. The Login ICP from the TTP is not r

[2021-05-09 19:18] DeiGratia33 opened #31 "What is a JWT, JWE, JWS and JWK."
Third Party Provider End To End User Guide

- The JWS must be explained and pointed to the API definition of its usage.
The valid ciphers must be in accordance with https://www.bcb.gov.br/estabilidadefinanceira/exibenormativo?tipo=Instru%C3%A7%C3%A3o%20Normativa%20BCB&numero=99

[2021-05-09 19:19] DeiGratia33 opened #32 "Interacting with the Trust Services APIs"
Third Party Provider End To End User Guide
- We are including the SS_id at the DN so we need to inform that tls_client_auth_subject_dn is the expected format.
Include the usage of private_key_jwt as na possible method too.

[2021-05-09 19:22] DeiGratia33 opened #33 "Obtaining Access to Customers Resources"
Third Party Provider End To End User Guide
Only CAs below ICP-Brasil supports OCSP, the root only operates CRL.

[2021-05-09 19:24] DeiGratia33 opened #34 "Question: Does the Directory Authorisation Server Support both private_key_jwt and tls_client_auth?"
Question: The Open Banking Brasil security profile supports both private_key_jwt and tls_client_auth but only tls_client_auth is shown in the "Registering an application with a provider" section of the TPP User Guide. Does the Directory Authorisation Server support it?

[2021-05-09 19:26] RalphBragg commented on #32
The TPP and ASPSP user guides are very much early drafts. Both examples will be done. Feel free to promote a section highlighting the problems with tls_client_auth_subject_dn and how it is presented by Banks terminating proxies to an OpenID Provider.

Technically this is a Banks problem to sort out, not a TPP. https://datatracker.ietf.org/doc/html/rfc4514 Makes it very clear that the additional OI

[2021-05-09 19:28] RalphBragg opened #35 "Create English Version of Certificate Profile Process"
The certificate profile markdowns are a mixture of english and portuguese. For the international and vendor community it would be great if these could be translated into English in the same way as the security profiles will need to be translated into Portuguese.

[2021-05-09 19:30] RalphBragg commented on #34
Yes the directory AS does support it however by default it uses tls_client_auth. A single software on the direcotyr will be used by a TPP that will need to interact with banks that operate both tls_client_auth and private_key_jwt so TPPs will need to support both.

tls_client_auth for directory interactions is simple and a transport certificate is all that is required

[2021-05-09 19:30] RalphBragg commented on #33
Will be corrected in the next draft.

[2021-05-09 19:45] RalphBragg commented on #31
The TLS ciphers are already in accordance with this document. it just lists the BCP195, https://www.rfc-editor.org/rfc/rfc7525.txt,  recommended ciphers for TLS that support RSA. I will add a link to this document as it reinforces the position.

The FAPI Specification is actually a lot stronger than the BCB guide but nothing in the BCB guide would deviate from FAPI.

The JWS / Application ciphers

[2021-05-09 22:41] RalphBragg commented on #32
This has been included in latest draft of the dynamic client registration profile and includes references to the drafts.

[2021-05-09 22:41] #32 closed

[2021-05-09 22:44] RalphBragg commented on #31
The reference to the BCB security guide has been added in the security provisions of the security profile. There is no further action that anyone has to take from a cipher or tls point of view but it's good to be complete from a documentation view.

JWS will be reviewed as part of the user guides.

[2021-05-09 22:45] RalphBragg commented on #19
A reference to the security manual was added to the security provisions for information however there is nothing explicit in the manual that would override the requirements set in FAPI Advanced.

[2021-05-09 22:45] #19 closed

[2021-05-10 19:42] josenogueiradalmeida opened #36 "Consent's creation omitted data"
Hi!

In the [Consent's creation](https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/tpp-user-guide.md#42-creating-consent), I was expecting additional identification data as below ...

"loggedUser": {
      "document": {
        "identification": "11111111111",
        "rel": "CPF"
      }
    },
    "businessEntity": {
      "document": {
        "identification": "11111111111111",

[2021-05-12 14:13] DeiGratia33 commented on #31
We need to ensure the especs clarifies that even BCP and FAPI mention other ciphers, only the cipher below are allowed
'TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256'
'TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384

Also, for JWS we to clarify what type of JWS we are going to use, and mention that JWS is required per API resource indication.

[2021-05-12 14:16] DeiGratia33 opened #37 "Create the specs necessary for Directory Certificate"
For access to the directory we are going to use the Directory PKI. Please include in the section "Certificado Diretorio" of the Certificate Profile the information necessary to create these certificates.

[2021-05-12 14:16] RalphBragg commented on #31
The BCP mentions 2 other ciphers correct. The two other ciphers are for EC certificates. The ICP Brazil doesn't issue EC certificates so they can't be used.

I've already updated this in the specification.

In terms of JWS can you give me an example of what you mean and where it should go? The signing and encryption requirements are already included for JWS/JWE.

[2021-05-12 14:17] DeiGratia33 opened #38 "Questions: Where can i find instructions on generating a BRCAC and BRSEAL Sandbox Certificate?"
We need the information on how entities could obtain certificates from Sandbox for non-production environments and where to find the CRL for it.

[2021-05-12 14:21] DeiGratia33 commented on #1
Decision (Executive approval in progress)

LoA2: Single factor
LoA3: Multifactor

With the following conditionals:
read-only: At least LoA2. The ASPSP could for your own decision raise the authentication to LoA3.
read-write: At least LoA3.

[2021-05-12 14:21] RalphBragg commented on #38
This will be included in the ASPSP User Guide. Obviously the CRL and OCSP endpoints are found in the x509 certificate and OCSP endpoints.

[2021-05-12 14:28] RalphBragg commented on #1
Just to confirm that when you define 'different factor' you mean a different knowledge factor. e.g, 2 knowledge factors is not sufficient? Are there going to be any additional definitions of what a 'secure' knowledge factor is?

Authentication Factor Categories
Authentication factors are traditionally split into these three categories: knowledge, possession, and inherence. Each of these categories

[2021-05-12 18:06] christianbalz opened #39 "Question: Where do I discover authorization servers for non-public resource offering information"
In tpp-user-guide, item 2.2 Discovering Banks Authorization Servers mentions how to retrieve a list of all participants and their authorization servers for the public context.

Discovery for authorization servers for non-public information should occur through the API /organisations and /organisations/{OrganisationId}/authorisationservers?

[2021-05-13 01:44] DeiGratia33 commented on #31
The ICP-Brasil also uses EC, but for OpenBanking Brasil we are using RSA.

For the JWS we need to clarify the type of signature. If is dettached or not and put a note that the signature required or not goest inside of each API specification.

[2021-05-13 01:47] DeiGratia33 opened #42 "Reduce unused references"
Reading the specification over the documents we are using a lot of reference that are not used for specification and could cause confusions to developers.

For example, if we are not using JARM or PAR, they should be removed.

[2021-05-13 05:31] RalphBragg commented on #31
OK - so the transport section is already covered (twice). The certicate profiles are only rsa and a section is included so that's closed,

In terms of JWS, payload signatures that makes a lot more sense now but again the mechanism for this belongs in the api specification. Is there a discussion on what mechanism will be used for payload signing?

I would suggest closing this ticket and opening a t

[2021-05-13 13:26] RalphBragg commented on #42
JARM is supported and allowed FAPI Final as is PAR. Banks don't have to support it though but they shouldn't be banned from supporting it nor should they compel clients to use it.

This enables easier migration to FAPI 2.0 Which is due to be published shortly.

[2021-05-13 13:27] RalphBragg commented on #39
That's correct - the tpp user guide and aspsp user guides are not finished (by a long shot).

[2021-05-13 13:29] RalphBragg commented on #36
No - the consent API is currently undergoing review with a recommendation not to include identity data in this way as it is already part of ODIC.

[2021-05-13 14:32] DeiGratia33 commented on #42
The concern here is the questions raised.

When people reads the reference, they have questions if is implemented over the specifications or not.

[2021-05-13 14:36] DeiGratia33 commented on #31
Agreed. Let's close and open new one.

Members of the Security team started a proposal about detached signature based on UK, but without look to other options.

Not going too deep, all the resources are MTLS, so I am not finding a reason to a detached signature. But I am open to see pros and cons both ways.

[2021-05-13 14:49] RalphBragg commented on #28
@alex-siqueira  - can you close this if the update is sufficient.

[2021-05-13 14:53] RalphBragg commented on #42
I'm confused, if it is implemented it is advertised on each banks well known configuration endpoint.
e.g https://auth.sandbox.directory.openbankingbrasil.org.br/.well-known/openid-configuration

response_modes_supported":["form_post","fragment","query","jwt","query.jwt","fragment.jwt","form_post.jwt"]
In this case we support JARM and are advertising that we do if a TPP wants to use it.

Likewise "

[2021-05-13 14:54] RalphBragg commented on #16
Closing - invalid.

[2021-05-13 14:54] #16 closed

[2021-05-13 15:26] #28 closed

[2021-05-13 20:59] RalphBragg opened #44 "Is CPF / CNPJ mandatory to be provided by a Client to an AS"
As per a lot of discussions with various groups - this ticket is being raised for a potential change to alter the mandatory requirement for a TPPs to provide a CPF to an Authorisation Server.

This ticket is pending board and working group approvals and may be rejected.

[2021-05-13 20:59] RalphBragg opened #45 "Update References Ahead of ID1 Publication"
References to the specifications need to use github pages links instead of html preview.

[2021-05-13 21:19] #45 closed

[2021-05-13 21:39] RalphBragg commented on #20
No updates or comments - closing.

[2021-05-13 21:39] #20 closed

[2021-05-13 21:41] andreborges01 commented on #15
The request is to unify all the documents in only one. Nothing especial related to the "request object"

[2021-05-13 21:41] RalphBragg commented on #21
as agreed with the publishing team the HTML documents will be referenced on github pages. This is white mode only. Closing as not required.

[2021-05-13 21:41] #21 closed

[2021-05-13 22:23] andreborges01 opened #48 "Header details"
Documentation could include header details as shown in UK docs

E.g: https://openbankinguk.github.io/read-write-api-site3/v3.1.8/profiles/read-write-data-api-profile.html#headers

[2021-05-13 22:49] andreborges01 opened #49 "dynamic consent scope definition"
Reference: https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-financial-api-1_ID1.md#dynamic-consent-scope-definition

at Dynamic Consent Scope Example in the above document, where bancoex does it come from? consent:urn:bancoex:C1DD33123

In the swagger, consentId pattern attribute has different pattern than what is shown in Dynamic Consent Scope Definition. Could

[2021-05-14 12:49] DeiGratia33 opened #50 "Implement client certificate profile changes as required by ICP-Brasil"
ICP-Brasil has requested changes at the Client Certificate Profile to address Web Trust guidance, removing ICP-Brasil OIDs and apply changes that identifies the FQDN of the Application

[2021-05-14 13:20] RalphBragg commented on #49
It's recommended that the ConsentID is name spaced for uniqueness and security - but depending on the outcome of todays discussions this may need to be changed.

[2021-05-14 13:20] #31 closed

[2021-05-14 13:20] RalphBragg commented on #31
Closed in favour of a new ticket to discuss payload signing.

[2021-05-14 13:22] RalphBragg opened #51 "Rename software_jwks_endpoint to software_jwks_uri"
Typo in field name

[2021-05-14 13:25] RalphBragg opened #52 "Give banks an option should they be unable to support signed and encrypted request objects"
This option allows Banks to support PAR in the event that they can not support signed and **encrypted** request objects. Whilst there is wide spread support for signed and encrypted request objects there is equal support for pushed authorisation requests. Banks therefor have an option to support PAR in the event that they are unable to support encryption.

[2021-05-14 13:26] #44 closed

[2021-05-14 13:26] #51 closed

[2021-05-14 13:26] #52 closed

[2021-05-14 18:20] RalphBragg commented on #48
The FAPI mandatory headers are included in the FAPI Specification. I agree with you, the resources should be articulating all required headers for accessing resources. This isn't part of the security specifications but part of the functional API. How do we get this ticket transferred to the functional API team?

[2021-05-17 22:20] DeiGratia33 commented on #50
certificate profile change has been sent.

[2021-05-17 22:21] DeiGratia33 commented on #42
I have sent a pull request to create a FAQ to answer these kind of questions.

[2021-05-17 22:22] DeiGratia33 commented on #1
The FAQ page has included the necessary information about authentication methods.

[2021-05-19 08:24] RalphBragg commented on #17
@GisAlmeida @GislaineAlmeida  - the consent API error states need to be documented to cover the issues communicated to the Security and Standards working group.

[2021-05-19 08:24] RalphBragg commented on #36
Still pending commentary from the security working however making assumption now in the interest of time that Consent API will not be altered.

[2021-05-19 08:26] RalphBragg commented on #48
Functional specification request. No additional headers are defined as part of the security profile apart from those included in vanilla FAPI Final

[2021-05-19 08:27] RalphBragg commented on #15
@DeiGratia33 and Erick - the request needs to be taken to the working groups as we were asked to create these as separate guides. There is a lot more actions that a Bank has to perform for example.

[2021-05-19 12:47] #49 closed

[2021-05-19 13:23] RalphBragg commented on #42
Perfect - using a FAQ is a great way to do this.

[2021-05-19 13:23] #42 closed

[2021-05-19 20:10] #15 closed

[2021-05-19 21:08] RalphBragg commented on #18
This has been worked around and won't be changed for implementers draft 1. the obligation is on the ASPSPs to make sure tokens are issued with the correct scope.
Changes were reflected in the latest version of the security profile.

[2021-05-19 21:08] #18 closed

[2021-05-19 21:09] RalphBragg commented on #23
Resolved with MD guidance being added.

[2021-05-19 21:09] #23 closed

[2021-05-20 08:11] RalphBragg commented on #1
This was closed with the last PR.

[2021-05-20 08:11] #1 closed

[2021-05-20 08:36] RalphBragg commented on #50
These changes have been accepted and merged.

[2021-05-20 08:36] #50 closed

[2021-05-20 12:44] RalphBragg commented on #34
Added to FAQ Closing.

[2021-05-20 12:44] #34 closed

[2021-05-20 21:57] josenogueiradalmeida opened #56 "open-banking-brasil-financial-api doc foreword"
Hi,

Consider the "open-banking-brasil-financial-api-1_ID1.html" document, Foreword section. It says:

"The Open Banking Brasil Initial Structure is responsible for creating standards and specifications necessary to meet the requirements and obligations of the Brasil Open Banking Legislation as originally outlined by the Brasil Central Bank. There is a possibility that some of the elements of this

[2021-05-21 18:27] carlosaaf opened #57 "Consent life cycle"
**In email was questioned**

...
The Consent API has a ‘Status’ but I couldn’t find anywhere the ‘Life Cycle’ of the Consent API was documented.
The Consent API States should have the following states (or equivalent)
Created – New Consent with no details yet populated by the Banks Customer.
AwaitingAuthorisation –  A user has authenticated with this scope / consent id and the user matches the TPP

[2021-05-21 19:25] Renansanglard commented on #17
[Jose Michael]
Ralph, we took this issue #17 and your proposal to the Security WG and we agreed to go ahead with your guidance, and we would also like to ensure that this point is made explicit in the documentation to be delivered "... **that this mechanism is only for Authorization Code Retrieval and NO modifications to an existing Consent must be made by this flow**. "

_"• With OpenID Redirect

[2021-05-21 19:39] originaljuca opened #58 "Signature Certificate Template"

[2021-05-21 19:41] originaljuca commented on #58
Which template will be used on the signature certificate ? e-CNPJ ? e-PJ ? Other one ? A new one ?

[2021-05-21 19:41] #58 closed

[2021-05-21 19:41] originaljuca commented on #58
.

[2021-05-21 19:42] originaljuca opened #59 "Signature Certificate Template"
Which template will be used on the signature certificate ? e-CNPJ ? e-PJ ? Other one ? A new one ?

[2021-05-21 20:15] RalphBragg commented on #17
Hi - Noted; wil make sure that this included in the User Guides. Will the consent API be updated to ensure a ConsentId can be re-used?

[2021-05-21 20:53] carlosaaf opened #60 "Exclusion of Consent"
**In email was questioned**

...
The API also needs guidance such as

TPPs must delete consent resources that have expired, been revoked by the customer at the TPP, Rejected by the customer once the TPP has process their rejection, detected as being revoked by the customer at the bank.
Banks may delete consent resources that have expired X months after the access expiry.
Banks may delete consent r

[2021-05-22 06:22] RalphBragg commented on #60
Hi,

Just to confirm that Banks are allowed to clean up resources i.e delete them provided that they are available to the central bank on request from an archive?

Kind Regards,
Ralph

[2021-05-22 06:23] RalphBragg commented on #59
The certificate structures for signing and transport are inclduded in the certificate structure document.

[2021-05-22 06:23] #59 closed

[2021-05-22 06:25] RalphBragg commented on #57
Hi,

The reason i raised this question is that the 'revoked' state was removed from the UK in 3.1.4.  Consents are no longer Revoked they are simply deleted.

Look at the table in documentation

<h4 id="account-access-consent-status-2" style="font-weight: 600; line-height: 1.25; margin-top: -6.7rem; padding-top: 8.2rem; margin-bottom: 0px; color: rgb(0, 0, 0); font-family: Metropolis, Arial, sans-

[2021-05-22 06:32] RalphBragg commented on #56
that is correct - the security profile for DCR describes who and how you onboard clients. i.e the WHO part of the profile. The security profile describes the HOW.

I will be creating the ID2 version of the specifications shortly and you can raise a PR for the wording change.

ID1 is locked and out for implementers to implement against. All bug reports and editorial comments will go into ID2 which

[2021-05-22 08:14] originaljuca commented on #59
Yes, theres some information there. But we need to know the certificate type that is going to be used : epj , e-cpnj , or a new one. And what are the CAs that will provide this service here in Brazil?

[2021-05-22 08:21] RalphBragg commented on #59
Hi,

There are two new certificate types in the profile. https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-certificate-standards-1_ID1.md which were created by @DeiGratia33 and ITI.

In terms of Certificate Authority - i believe it is the Government Owned CA that has initially committed to issuing the new profiles. I will add this information to the WIKI FAQ

[2021-05-22 11:03] DeiGratia33 commented on #60
Run a garbage collector is the proposal from the Security WG, as the time of 60 minutes to wait for approval of consent.

The Security WG is going to make a proposal to specify this, but asking for revision of the Jurídica WG to make sure we are not violating anything here.

[2021-05-22 11:08] DeiGratia33 commented on #57
We have a question to be answered by the legal team. My concern we are not going to be allowed to delete. We need to store the consent after revoked, maybe for 5+1 years.

[2021-05-22 11:10] RalphBragg commented on #57
Thanks - having a revoked state is perfectly fine just don't point people at the U.K. specs as this state has been deprecated.

Will adding this ticket to functional API.

[2021-05-22 16:44] originaljuca commented on #59
@DeiGratia33 Boa tarde. Teremos um novo tipo de certificado a ser emitido pelas autoridades certificadoras no brasil ? Ou será do tipo e-cpnj ou e-pj ?

[2021-05-24 17:29] alex-siqueira opened #62 "Adding details regarding regulatory rules, scopes and permissions."
We had some discussions last week do detail the relationship between regulatory roles, OAuth scopes and permissions. I'm going to make the changes in the DCR doc and submit a pull request.

[2021-05-24 23:42] DeiGratia33 opened #64 "CNPJ and CPF for Consent Request"
For phase2 of the Open Banking Brasil, the Consent API will be responsible to receive the CPF/CNPJ from the TPP, not requiring the TPP and ASPSP to process the CPF/CNPJ through the encrypted request object or PAR at the Authorization Server.

We need to update the security-profile to support this decision.

[2021-05-25 17:10] msauaia opened #65 "Question: Method for client authentication (DCR)"
The specs for certificates (open-banking-brasil-certificate-standards-1_ID1.md) stablishes that

"_Client Certificates are also used to authenticate the client application through
oAuth 2.0 mTLS or private_key_jwt, according to the application's registration
carried out by the Dynamic Client Registration process with the transmitting entity_."

Does this leave the ASPSP discretion to choose the me

[2021-05-25 17:29] msauaia opened #66 "Certificate Standard - "Subject Alternative Name" of sign certificate"
The specs for certificates (open-banking-brasil-certificate-standards-1_ID1.md) stablishes that sign certificate must contain in "Subject Alternative Name" the informations of the responsible for the certificate.

Does this person need to be the same person who registered the application in the onboarding process in the directory?

If they are different person, will the CA need to validate this in

[2021-05-26 19:39] #62 closed

[2021-05-26 19:45] RalphBragg commented on #65
According to the published security profile banks can implement either or both. Provided they advertise support for at least one of the two supported mechanisms then they will be compliant.

[2021-05-27 00:25] DeiGratia33 commented on #66
All the process included in the validation of the SAN attribute of the certificates is established by the current ICP-Brasil definition, which does not required to be the same person who registered the application at the directory.

[2021-05-27 00:27] DeiGratia33 commented on #60
I have a included change request that is not specifying the time exactly, but clarifies the cycle of revoke, and store as required by regulation prior delete.

[2021-05-27 02:40] #66 closed

[2021-05-27 20:46] FrancoPeluti commented on #65
@RalphBragg, By choosing just one of the methods, won't it be a trouble for certifying in FAPI OpenID Foundation Certification?

[2021-05-27 21:13] RalphBragg commented on #65
No, the framework allows you to specify exactly what options you want to certify your implementation for.

For example, we have certified the directory against 4 profiles by choice but you will only have to certify one.

The process allows you to verify as many different profiles as you like in one certification application,

[2021-05-27 21:14] andreborges01 opened #68 "TPP User Guide Not matching developer area specs"
We verified that in TPP User Guide doc from line 584 (4.2 Creating Consent), the content present does not match with Brazilian specification shown in **https://openbanking-brasil.github.io/areadesenvolvedor/#criar-novo-pedido-de-consentimento**

Could you please verify?

[2021-05-27 21:16] andreborges01 opened #69 "TPP User Guide Remove Section"
As per group decision of passing CPF in the consent API, we need to remove entire topic 4.3.1.1 Requesting Specific Claims. Do you agree?

[2021-05-27 21:34] andreborges01 opened #70 "Remove all CPF and CNPJ mentions from TTP user Guide"
As per group definition of sending CPF and CNPJ in the Consent API, please remove all mention of CPF and CNPJ from  TPP User Guide:

1 - Remove CPF from Request Object
2 - Remove CPF and CPNJ mention from Appendix A2
3 - Remove  CPF and CPNJ from second A2 - specific claim value

Thanks

[2021-05-27 21:41] andreborges01 opened #71 "Remove All CPF and CNPJ mentions from Security Profile"
As per group definition of sending CPF and CNPJ in the Consent API, please remove all mention of CPF and CNPJ from Security Profile:

1 - Remove from Security Profile, in topic Authorization Server item 4, 5 and 12.
2 - Remove from Security Profile, item Request the "cpf" Claim and Request the "cnpj" Claim
3 - Remove from Security Profile, item 6 from Confidential Client
4 - Remove from Security P

[2021-05-27 23:24] ginglass opened #72 "Question: consentId pattern and security profile dynamic scope consent format and namespace"
Hello guys, although ``consentId`` pattern described on [swagger file](https://openbanking-brasil.github.io/areadesenvolvedor/swagger/swagger_consents_apis.yaml) (line 496) matches the definition at Dynamic Scope Consent section (security profile doc), I suggest a more specific regex on a new version of consents API. Dont you agree? If you don´t, fell free to close this issue :-).

Where does bank

[2021-05-27 23:34] #64 closed

[2021-05-28 11:09] jogu opened #73 "software statement examples in client registration spec should align with RFC7591 (oauth2 DCR)"
As per:

https://datatracker.ietf.org/doc/html/rfc7591#section-2

the example here:

https://github.com/OpenBanking-Brasil/specs-seguranca/blame/main/open-banking-brasil-dynamic-client-registration-1_ID1.md#L286

differs in names of the following keys - the RFC does not have the `software_` prefix:

`software_client_name` -> `client_name`

`software_client_description` -> `client_description`

`so

[2021-05-28 18:13] msauaia opened #74 "Question: client validation in the DCR process"
In the DCR client registration process, the authentication mechanism must validate the client through the SSA together with the client certificate presented in the mTLS, correct?

Will this validation occur more specifically through the validation of the fields **software_client_id**, extracted in the SSA, and **tls_client_auth_subject_dn**, extracted in the client's certificate?

One last questio

[2021-05-31 14:51] EllioSoares opened #75 "Question: Refresh token expiration time"
Hello guys, there is a definition/recommendation for the refresh token expiration time to be equal to that of consent expiration time, right? So, since the consent expiration time could be any value until 12 months, I would like to know the compatibility of this topic with the software tools available from the vendors. For example, the Red Hat Keycloak permits only one value for the refresh token

[2021-05-31 19:06] msauaia commented on #64
In the specification of the Authorization server, item 1 requires the implementation of signature and encryption of the request object (JWE). We understand that this was a requirement when there was a need to pass cpf / cnpj at the time of referral for authorization.

As there is no longer this need as (above), we understand that this item should be reformulated for JWS instead of JWE (only signed

[2021-05-31 19:40] msauaia commented on #72
The understanding of my institution's developers is that the standard defined in the swagger meets the type of data that is intended to be passed.

In the specific case at my institution, we would like to pass this information in UUID format, which would comply with the swagger standard. However, if we specify a more closed pattern to specifically meet the string "urn-bancoex-C1DD33123", the data

[2021-05-31 20:02] msauaia opened #76 "Question: Mechanisms for client sends the reference to the lodging intents to the AS"
In the [documentation](https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-financial-api-1_ID1.md#authorization-server), item 9 determines that the AS _shall support parameterized OAuth 2.0 resource scope consent as defined in clause 6.3.1 [[OIDF FAPI WG Lodging Intent Pattern](https://bitbucket.org/openid/fapi/src/master/Financial_API_Lodging_Intent.md)][LIWP]_.

H

[2021-06-02 20:39] RalphBragg commented on #73
This is a bug, I'll correct it tonight. Those keys are in the SSA not in the dcr payload. I have to incorporate another change at the request of the security wg now.

[2021-06-02 20:51] RalphBragg commented on #73
This is not a bug - these claims are metadata from an SSA not claims as part of an RFC7591 request.
These claims mirror the UK standards https://github.com/OpenBankingUK/directory-api-specs/blob/master/directory-api-swagger.yaml and so should be familiar to implementers

[2021-06-02 21:03] RalphBragg commented on #76
The use of passing a claim for controlling access to resources was a Hack that i had to put into the UK Security Profile as it was the only technical means that could be used to convey this reference even though it went against what the claims and openid connect is used for.

https://openid.net/specs/openid-connect-core-1_0.html#Claims
5.  Claims
This section specifies how the Client can obtain Cl

[2021-06-02 21:12] RalphBragg commented on #75
Hi,

The requirement to invalidate access and refresh tokens when a TPP is no longer permitted to have them is a core requirement of any Authorization server. How you implement this is up to you but the requirement exists in all jurisdictions that have implemented Open Banking world wide.

Note that these jurisdictions are typically using a vendor that is FAPI 1 Advanced Certified which you can fi

[2021-06-02 21:31] RalphBragg commented on #74
1 - that's correct
2 - the client_id is the client id that is used by the directory for the client, you should use software_id which is the CN of the certificate issued by ICP and the cnpj
3. It should contain the entire DN of the certificate as per https://datatracker.ietf.org/doc/html/rfc8705 which references https://datatracker.ietf.org/doc/html/rfc4517. Because Brazil specifies OIDs that were

[2021-06-02 21:31] RalphBragg commented on #74
This will be covered further in the ASPSP user guide.

[2021-06-02 21:37] RalphBragg commented on #70
Alex & Marcos - can you please provide the latest update to Andre please on these items. The language has already been clarified however the need for the claims is required for different reasons.

[2021-06-02 21:37] RalphBragg commented on #71
Alex & Marcos - can you please provide the latest update to Andre please on these items. The language has already been clarified however the need for the claims is required for different reasons.

[2021-06-02 21:41] RalphBragg commented on #72
The swagger specification for the consentId payload must be followed and respected however the security profile also requires the following
In addition:

the Consent Resource Id must include url safe characters only;
the Consent Resource Id must be namespaced;
the Consent Resource Id must have the properties of a nonce;

So provided that it meets those properties you can use whatever format you li

[2021-06-02 21:43] esachser commented on #75
Hi,

I believe @EllioSoares is talking about <https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-financial-api-1_ID1.md#authorization-server-1>, item 1, who states that the refresh token shall be issued with the same validity than the consent *expirationDateTime*.
Revoking access and refresh tokens if the consent is revoked or gets expired seems logical and possibl

[2021-06-02 21:47] RalphBragg commented on #75
@esachser - that is 100% percent correct. As more AS's support https://datatracker.ietf.org/doc/html/draft-ietf-oauth-rar
which will be required for FAPI 2.0. The less 'custom integrations' and more 'this is now standard' you will see. Support for RAR is still relatively low, support amongst FAPI complaint OP's for revoking the grant (which refresh,id_token and access_tokens) are based on is very

[2021-06-02 21:48] RalphBragg commented on #48
@GisAlmeida @GislaineAlmeida  - do you believe this can be closed as there is sufficient header information on the funcitonal APIs?

[2021-06-02 21:50] RalphBragg commented on #57
@DeiGratia33  - can this be closed?

[2021-06-02 22:15] RalphBragg opened #78 "DCR HTML documents weren't created from latest MD"
The mark down was correct but the HTML wasn't. Renan has requested that i regenerate the html only.

[2021-06-03 08:27] alexasensio opened #80 "DCR scopes typos?"
DCR specification: for allowed scopes for [Regulatory Role](https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-dynamic-client-registration-1_ID1.md#regulatory-roles-to-openid-and-oauth-20-mappings) DADOS contain:

- "_consents_" twice in the list. Is this correct or a typo? If correct, what is the implication of having a scope duplicated?

- "_unarragned-accounts-o

[2021-06-03 09:52] RalphBragg commented on #80
There's no issue with having the scope listed twice. There is an obvious issue with having the typo listed however as it is an errata change i'll get it corrected in the PR that is still with the Brazil Security Team to approve.

[2021-06-03 11:46] jogu commented on #73
Thanks for the explanation Ralph! It's a bit odd (in the same way the UK spec is) and probably would've been preferable for the SSA entries that appear to match the RFC7591 behaviour for SSA entries to have the same names, and only to use new names where behaviour differs from the RFC... I'll close this then.

[2021-06-03 11:46] #73 closed

[2021-06-03 14:37] RalphBragg commented on #69
Alex & Marcos - can you please provide the latest update to Andre please on these items. The language has already been clarified however the need for the claims is required for different reasons.

[2021-06-03 15:28] GislaineAlmeida commented on #48
So Ralph we have some headers detailed in APIs specs.
But not all of them.
For example, version and retry are not included in the specs but the documentation at Developer's Portal makes some references. We need talk about this urgently with the working group.

[2021-06-04 09:23] RalphBragg opened #81 "Adding Additional Field to SSA Requested by Open Banking Brasil"
Adding additional field to SSA JWT Requested by Open Banking Brasil

[2021-06-04 09:25] #78 closed

[2021-06-04 09:25] #80 closed

[2021-06-04 09:25] #81 closed

[2021-06-04 20:44] #70 closed

[2021-06-04 20:58] #69 closed

[2021-06-04 20:58] #71 closed

[2021-06-04 22:12] #36 closed

[2021-06-04 22:15] RalphBragg commented on #68
Thank you - this has been corrected.

[2021-06-04 22:15] #68 closed

[2021-06-04 22:17] RalphBragg commented on #72
Hi,

Can this ticket now be closed?

[2021-06-04 22:18] RalphBragg commented on #65
@msauaia - can we close this ticket now please?

[2021-06-04 22:20] #22 closed

[2021-06-04 22:20] RalphBragg commented on #22
@andreborges01 - these have been added to the UML folder.

[2021-06-04 22:22] RalphBragg commented on #14
@andreborges01 - Can we have discussion on this and what you think TPPs might need? I was planning on uploading a complete end2end application that contains all of the steps so that a TPP could explore for themselves and see all of the interactions that are made.

[2021-06-04 22:25] RalphBragg commented on #65
![image](https://user-images.githubusercontent.com/35098287/120868470-0979c280-c58c-11eb-8cfa-141ba3330640.png)

@FrancoPeluti  - I included this screen shot so you can see how you can select what elements of FAPI you want to test your authorization server for.

[2021-06-04 22:33] RalphBragg commented on #26
hi @josenogueiradalmeida  - an example private_key_jwt client credentials grant has been added to appendix A.1

[2021-06-04 23:10] ginglass commented on #72
Yes, please. Thank you.

[2021-06-04 23:11] #72 closed

[2021-06-05 18:09] RalphBragg commented on #60
@DeiGratia33 - can this then be closed?

[2021-06-06 17:32] TakahikoKawasaki opened #83 "Value of software_version in OBB FAPI DCR 1.0 Section 8.1"
The value of `"software_version"` in "[8.1. Software Statement Claims](https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-dynamic-client-registration-1_ID1.html#name-software-statement-claims)" of [OBB FAPI DCR 1.0 ID1](https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-dynamic-client-registration-1_ID1.html) is `1.1`, but it should be `"1.1"`.

"[2. Cli

[2021-06-06 19:30] TakahikoKawasaki opened #84 "Question: Which claims in SSA should be kept as client metadata?"
The example shown in "[8.1. Software Statement Claims](https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-dynamic-client-registration-1_ID1.html#name-software-statement)" of "[OBB FAPI DCR 1.0 ID1](https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-dynamic-client-registration-1_ID1.html)" includes claims that are not defined in [RFC 7591](https://www.rfc

[2021-06-06 20:04] TakahikoKawasaki opened #85 "Question: Default Scope on Dynamic Client Registration"
"[7.2. Regulatory Roles to OpenID and OAuth 2.0 Mappings](https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-dynamic-client-registration-1_ID1.html#name-regulatory-roles-to-openid-)" of "[OBB FAPI DCR 1.0 ID1](https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-dynamic-client-registration-1_ID1.html)" states as follows.

This requirement implies that the

[2021-06-07 09:29] RalphBragg commented on #85
@TakahikoKawasaki  - Status should be taken into consideration however, as per the UK model, software roles are additive only. If an application loses a particular regulatory permission then the application will be revoked. This means as it current stands you could process just the simple array software_roles if you chose too.

[2021-06-07 09:32] RalphBragg commented on #84
What information and metadata needs to be used and kept is primarily driven by the UI/UX guidelines which have yet to be published on this topic. e.g in the United Kingdom, the organisations name and org number typically has to be shown to customers. These requirements are pending from the UI / UX team.
@DeiGratia33

[2021-06-07 09:33] RalphBragg commented on #83
The generated SSA is correctly a string already "software_version": "2.00". This is a documentation issue that will be corrected.

[2021-06-07 09:38] RalphBragg commented on #85
eyJraWQiOiJzaWduZXIiLCJ0eXAiOiJKV1QiLCJhbGciOiJQUzI1NiJ9.eyJzb2Z0d2FyZV9qd2tzX2luYWN0aXZlX3VyaSI6Imh0dHBzOlwvXC9rZXlzdG9yZS5zYW5kYm94LmRpcmVjdG9yeS5vcGVuYmFua2luZ2JyYXNpbC5vcmcuYnJcLzc0ZTkyOWQ5LTMzYjYtNGQ4NS04YmE3LWMxNDZjODY3YTgxN1wvOGQ2MWY1OWEtYmEwYi00NzRkLTg4ZTctYWYzMGJkZjAxMjI2XC9pbmFjdGl2ZVwvYXBwbGljYXRpb24uandrcyIsInNvZnR3YXJlX21vZGUiOiJMaXZlIiwic29mdHdhcmVfcmVkaXJlY3RfdXJpcyI6WyJodHRwczpcL1w

[2021-06-07 10:00] alexasensio opened #86 "Question : Should DCR payload be a JSON payload on the DCR request or JWS?"
Current Brazil spec is requiring that the claims of the DCR request are sent as JSON (see [example](https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-dynamic-client-registration-1_ID1.md#posting-a-request-with-a-software-statement)). This follows the spec from [RFC7591](https://datatracker.ietf.org/doc/html/rfc7591#section-3.1) and [OIDR](https://openid.net/specs/

[2021-06-07 10:04] TakahikoKawasaki commented on #85
@RalphBragg Thank you. I could understand. If the operation does not change, checking the `"software_roles"` array is enough.

[2021-06-07 17:55] DeiGratia33 commented on #33
3.0 Registering the application with a provider

At this section.

We need to clarify the ICP-Brasil as a chain, not as single entity, this way we clarify that certificates need to me checked using OCSP or CRL as provided by CAs.

This is a thing that needs to be changed at the diagram.

[2021-06-07 18:00] DeiGratia33 commented on #57
@RalphBragg , yes we can close.

[2021-06-07 18:01] DeiGratia33 commented on #65
@FrancoPeluti , @msauaia , I believe we can close. Correct?

[2021-06-07 18:01] RalphBragg commented on #57
Do you close rights?

[2021-06-07 18:06] DeiGratia33 commented on #75
If we are unsure if the market will support to link the refresh expiration time to the consent, it would be better to replace:
shall issue refresh tokens with validity equal to the expirationDateTime defined on the linked Consent Resource;

to

**should** issue refresh tokens with validity equal to the expirationDateTime defined on the linked Consent Resource;

[2021-06-07 18:07] msauaia opened #87 "Questions: Signature and encryption of the request object (JWS x JWE)"
In the specification of the Authorization server, item 1 requires the implementation of signature and encryption of the request object (JWE). We understand that this was a requirement when there was a need to pass cpf / cnpj at the time of referral for authorization.

As there is no longer this need as (above), we understand that this item should be reformulated for JWS instead of JWE (only signed

[2021-06-07 18:10] FrancoPeluti opened #88 "OpenID - Request Objetct"
https://openid.net/specs/openid-connect-core-1_0.html#RequestObject

The iss value SHOULD be the Client ID of the RP, unless it was signed by a different party than the RP.
The aud value SHOULD be or include the OP's Issuer Identifier URL.

non-normative example:
   "iss": "s6BhdRkqt3",
   "aud": "https://server.example.com",
   "response_type": "code id_token",
   "client_id": "s6BhdRkqt3",

For

[2021-06-07 18:12] esachser opened #89 "Add example RFC7592 + Brazil SSA to DCR Specification Appendix"
Hi,

When a client is performing an update, it shall send a new SSA who certifies the new configuration?
The validations in the update are the same as in the registration?

[2021-06-07 18:17] RalphBragg commented on #75
Hi, This would be a normative change that would have to go into another iteration of the specifications. It's non breaking (except for the conformance harnesss) but it is a normative change. I'm surprised that security group would be happy with Authorisation Servers continuing to allow banks to issue Access Token (which is what happens when you use a refresh token) for access to resources that hav

[2021-06-07 18:21] DeiGratia33 commented on #57
no, I am just a padawan

[2021-06-07 18:22] RalphBragg commented on #87
Hi - the latest commentary of the security working group allows and retains the technical capability for CPF to be requested on authentication as a standard claim. As banks have to support the OIDC claims parameter as defined in OIDC Core but must do so in a privacy preserving manner the requirement to support encrypted request objects OR pushed Authorization requests persists.

[2021-06-07 18:24] RalphBragg commented on #89
That is correct, the validation of the SSA must be same otherwise clients could register a client using an SSA and then just alter it as they saw fit. The update with another SSA allows additions (like a new redirect uri) or the addition of a regulatory role to a software statement to be communicated from the Client to the AS/OP.

[2021-06-07 18:30] DeiGratia33 opened #90 "Remove all portuguese specification"
As a manner to concentrate the changes over a single document, at the Github, would be preferable to maintain only the English version.

[2021-06-07 18:35] RalphBragg commented on #88
There's no scenario currently published where you should expect a request object to be signed by anyone other than the client itself

The requirements are tightened in FAPI 1 Advanced https://openid.net/specs/openid-financial-api-part-2-1_0.html which is what is layered on top of OpenID Connect Core.  The obligations are explicit for the AS and implicit for the 'Confidential Client'. The confident

[2021-06-07 18:43] #57 closed

[2021-06-07 18:43] RalphBragg commented on #57
@EkkeErick  - can we get Alex and Marcos Administration access pretty please.

[2021-06-07 19:00] RalphBragg commented on #86
Why on earth does everyone insist on sharing that document written by that Australian so many years ago like he knew what he was talking about... That specification that you linked to I find amazing how many times this has been referenced by so many bodies as a good idea... which it was, at the time because the UK had very specific requirements that it needed to address at the time.

In the beginn

[2021-06-07 19:02] RalphBragg commented on #86
**Answer:** FAPI Authorisation Servers only require a JSON Request, the need and justification for the use of a non IETF / OIDF DCR payload is given above.

[2021-06-07 19:46] #65 closed

[2021-06-07 20:51] #88 closed

[2021-06-07 22:53] DeiGratia33 commented on #75
The intention of the specification is to link the exactly time frame from a consent to the refresh token, but if this is not technically feasible for implementation, at least for the majorirty, we cannot include this as a mandatory item.

What it needs to be clear is the access tokens must be only issued if is linked to a valid consent, if the implementation ensure the refresh token expiration is

[2021-06-08 05:57] RalphBragg commented on #75
OK - so change this to a should (which will create a warn on the oidf conformance harness but warns are not a fail).

And publish a new version, it's not a breaking change but it would be a new version.

[2021-06-08 14:39] TakahikoKawasaki opened #91 "Question: Certificate-Bound Registration Access Token"
The [OBB FAPI DCR](https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-certificate-standards-1_ID1.html) specification requires that a Client Registration Request come with a client certificate. In addition, the sequence diagram in the specification indicates that the Client Registration Endpoint returns an "[RFC 7592](https://www.rfc-editor.org/rfc/rfc7592.html) Management To

[2021-06-09 18:03] RalphBragg commented on #91
I would but it isn’t explicitly defined. By binding the token to the transport Cert it would prevent hijack. It isn’t explicitly called out as you’d need a valid SSA anyway to make changes to the registration. So you need a long lived token and short lived “token” / ssa but there is no harm binding it to a cerificate over and above as well.

[2021-06-10 12:04] esachser opened #92 "Wrong RFC number on documentation"
Probably a typo. On the section <https://openbanking-brasil.github.io/specs-seguranca/aspsp-user-guide.html#openid-connect---the-identity-layer-for-the-internet> the last RFC cited was RFC7591, but by the definition and previous information that one must be RFC7592

[2021-06-10 13:03] esachser commented on #89
There will be an update to the documentation stating that information or the answers of the issues are normative?

[2021-06-10 13:06] RalphBragg commented on #92
Thanks - for the userguides, feel free to just raise a PR for fixing it. All comments and contributions welcome.

[2021-06-10 13:09] RalphBragg commented on #89
@esachser  - I'm sorry, could you let me know what isn't clear about. **'These provisions apply equally to the processing of [RFC7591], [RFC7592] and [OpenID Registration][OIDR] requests'** which is included as part of the Authorisation Server requirements?

[2021-06-10 13:20] esachser commented on #89
The RFC7592 doesn't states that for **updates** the SSA is obligatory, nor RFC7591 or OIDR, that's a characteristic of our DCR, and, as such, should be documented (I think).

[2021-06-10 13:24] RalphBragg commented on #89
Correct - and our DCR specification says these rules shall be followed and that the rules apply to...

Authorization server
The Authorization Server shall support the [RFC7591], [RFC7592] and [OpenID Registration][OIDR]

In addition, the Authorization Server

**shall validate that the request contains software_statement jwt signed using using the PS256 alg issued by the open banking brasil directo

[2021-06-10 13:43] esachser commented on #89
Understood. Thanks.
It would be great if some examples of update were added to the docs, just for clarification (to others like me).

[2021-06-10 13:45] RalphBragg commented on #89
Can do, if it's unclear then adding a worked example for  an update to the appendixs might help. Will create a PR

[2021-06-11 09:09] TakahikoKawasaki opened #95 "Typo: Part 1 Advanced -> Part 2 Advanced (DCR spec)"
The 7th clause in "[7.1. Authorization server](https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-dynamic-client-registration-1_ID1.html#name-authorization-server-2)" of "[Open Banking Brasil Financial-grade API Dynamic Client Registration 1.0 Implementers Draft 1](https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-dynamic-client-registration-1_ID1.html)

[2021-06-11 09:38] alexasensio opened #96 "ID1 - Unintended Normative Change, Is UserInfo Endpoint Required?"
FAPI Brasil refers to OIDC, which includes userinfo in their spec, however the documentation in [Github](https://openbanking-brasil.github.io/areadesenvolvedor/#introducao) does not refer anymore to userinfo (changed on 2021.06.09).

Do we need to build a userinfo endpoint?

[2021-06-11 10:51] RalphBragg commented on #96
Thanks @alexasensio, this removal of the requirement to support userinfo from the documentation page without there being a corresponding explicit requirement in the specification would count as an accidental normative change.

Personally i believe a user info endpoint should still be required but it is up to the security WG.

@alex-siqueira @DeiGratia33  - need an answer on this sharpish as this i

[2021-06-11 11:11] #92 closed

[2021-06-11 11:13] RalphBragg commented on #90
@alex-siqueira  @ginglass  - can you confirm that this is agreed and you're going to do this. I really need to create a new working draft with issues and fixes that are being raised by the community. They can't go into ID1

[2021-06-11 11:14] RalphBragg commented on #87
Confirming that this requirement will be in the security profile developed from the OIDF for Brazil

[2021-06-11 11:16] #83 closed

[2021-06-11 11:17] RalphBragg commented on #75
Assigning to security team leads for a decision and implementation timeline impact.

[2021-06-11 11:20] #95 closed

[2021-06-11 11:32] RalphBragg opened #98 "ID1 - Missing Feature - How to determine Access Token to ConsentId Binding as a TPP"
When a TPP sends a consent to be authorised by a Bank the consentId is conveyed as part of a dynamic scope string.
e.g consent:bank1-12345678

There is a major change to FAPI ID2 and FAPI 1 Advanced Final that removed the requirement for an Authorisation Server to provide the access token scopes back to a TPP on Authorization code exchange or refresh token usage if the scope wasn't altered by a Re

[2021-06-11 12:52] samlarsen1 opened #99 "Consent transaction filters"
The transaction date filters defined in consent seem to only be documented in the consent swagger definition - the description is not definitive enough for people to understand.  I can't find any more guidance to point people to for this requirement.

"transactionFromDateTime": "2021-01-01T00:00:00Z",
"transactionToDateTime": "2021-02-01T23:59:59Z"

Are these in scope?  We assume they are, they ar

[2021-06-11 12:55] RalphBragg commented on #99
@GisAlmeida  - can you transfer this to the functional specs repo please. @samlarsen1  - as i understand they can all be optional but i don't remember where i read it. e.g you could have a minimum from but no end, or a unlimited from and a fixed end or you could have neither which would mean all data but i'll let @GisAlmeida provide the last word.

[2021-06-11 13:00] samlarsen1 commented on #99
Yes, i understand how they work from the UK, but there is no documentation of this in Brazil

[2021-06-11 13:06] RalphBragg commented on #99
Sure - which is why i'm asking @GisAlmeida  to transfer this issue to the functional specifications repo so that she can add more details if required around the definitions.

Personally the descriptions seem OK to me as the behaviour is defined on the swagger, could you suggest what improvements you would want to make it clearer?

Data e hora da transação inicial. Se não for preenchido, a transaçã

[2021-06-11 13:07] samlarsen1 commented on #99
Migrated to here: https://github.com/OpenBanking-Brasil/areadesenvolvedor/issues/158

[2021-06-11 13:07] #99 closed

[2021-06-11 19:19] ediemerson-br commented on #90
We'll remove the Portuguese documents when we publish their content on "Portal do Desenvolvedor" (https://openbanking-brasil.github.io/areadesenvolvedor/). Probably next week.

[2021-06-11 19:38] RalphBragg commented on #90
OK - can I crate the new WG? Working draft? There’s bugs in ID1 (or missing features) that the security team need to opine on that would require a new version.

________________________________
From: ediemerson-br ***@***.***>
Sent: Friday, June 11, 2021 8:19:20 PM
To: OpenBanking-Brasil/specs-seguranca ***@***.***>
Cc: Ralph Bragg ***@***.***>; Comment ***@***.***>
Subject: Re: [OpenBanking-Brasi

[2021-06-12 15:49] ginglass commented on #98
Hello guys. At this moment, I prefer the third option. Don't you agree @alex-siqueira ?

[2021-06-12 15:52] RalphBragg commented on #98
I personally prefer option 3 as well. All implementers that have ever implemented FAPI before can do it. It isn't a new standard. It is the same behaviour for every other jurisdiction. I will be bringing this back up with the FAPI WG, i think this is still required personally and potentially shouldn't have been removed.

[2021-06-14 07:37] TakahikoKawasaki opened #102 "Typo: OBB DCR 7.1.-2"
The 2nd clause in "[7.1. Authorization server](https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-dynamic-client-registration-1_ID1.html#name-authorization-server-2)" of "[Open Banking Brasil Financial-grade API Dynamic Client Registration 1.0 Implementers Draft 1](https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-dynamic-client-registration-1_ID1.html)

[2021-06-14 09:02] #85 closed

[2021-06-14 09:29] alexasensio opened #103 "Question: Unstructured access tokens, JWT ATs or both?"
On defining the format of the access tokens, my understanding is that OBB FAPI 1 ID1 does not specify anything and therefore does not modify FAPI 1.0 Final. The Notes from [FAPI 1.0 Final Part 1: Baseline](https://openid.net/specs/openid-financial-api-part-1-1_0-final.html#authorization-request-and-response) mentions that "Authorization servers can issue unstructured or structured access tokens (f

[2021-06-14 09:55] alexasensio commented on #86
Please thank to that Australian for writing a very comprehensive document 3-4 years ago ;)

Thanks for the history lesson. It is clear now.

Let me know if you want me to close the issue or keep it as answered question.

[2021-06-14 09:57] RalphBragg commented on #86
Keep it open.

@alex-siqueira @ginglass  - can we get a WIKI going for FAQ and get these questions copied over and translated before closing?

[2021-06-14 10:04] RalphBragg commented on #103
Hi,

The Audience from a Banks issued Access token is a Banks Resource Server. So the Access token can be anything that a Bank can issue that a Bank can read... so it can be whatever format a bank wants too.

An access token contents should really only be accessible to the intended audience. So a reference token that is introspected by a resource server or a encrypted JWE (which looks to a TPP jus

[2021-06-14 10:07] RalphBragg commented on #103
Answer: **Banks** can use whatever structure of Access Tokens they like provided the **Banks Own Resource Servers** can read them (which should be obvious). Banks that choose to use unencrypted structured access tokens must ensure that the contents of the access tokens do not reveal any resource owner personal data or other data that the TPP is not authorised to receive.

[2021-06-14 10:12] RalphBragg opened #104 "ID2: Guidance and Clarification on the use of 'Structured Access Tokens'"
There is mixed messages regarding the use of structured access tokens both within the brazil security profile and FAPI. Whilst structured access tokens are permitted, unstructured, by reference tokens are also permitted which is perfectly acceptable.

The intended audience of an Access Token issue by a Bank is the Banks own Resource Server. Provided the Resource Server has a way of accessing the i

[2021-06-14 10:13] RalphBragg commented on #103
Improvement Ticket #104  raised to make this more clear and to highlight the potential privacy concerns if structured tokens are used incorrectly.

[2021-06-14 10:22] alexasensio commented on #103
Thanks for clarifying. Answer is what I expected.

For clarity, in all points above I was implying JWEs, and not JWTs only, as [FAPI Baseline](https://openid.net/specs/openid-financial-api-part-1-1_0-final.html#authorization-request-and-response) requires that: "The Authorisation Server 16. shall provide non-guessable access tokens,[...]"

[2021-06-14 10:23] RalphBragg commented on #103
The issue with JWT's that they're still non guessable. You can't just make them up but they aren't privacy preserving.
JWEs are non guessable and privacy preserving.

[2021-06-14 10:25] #102 closed

[2021-06-14 11:14] alexasensio opened #105 "Question: How to advertise Authorisation Servers on the Directory to support app2app use cases."
One question and one proposal:

- Question: can ASPSPs use "device_authorization_endpoint" in their authorization flows?
- Proposal: publish a well-known endpoint example that clearly states which parameters are mandatory and which are optional for FAPI Brasil.

Reasons below:
It is not clear (at least to me and several stakeholders) if an ASPSP has the ability to choose to implement 2 different a

[2021-06-14 12:44] TakahikoKawasaki opened #106 "Question: If the scopes are omitted during the DCR process?"
"[7.2. Regulatory Roles to OpenID and OAuth 2.0 Mappings](https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-dynamic-client-registration-1_ID1.html#name-regulatory-roles-to-openid-)" of "[Open Banking Brasil Financial-grade API Dynamic Client Registration 1.0 Implementers Draft 1](https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-dynamic-client-registra

[2021-06-14 12:53] ediemerson-br commented on #90
Sounds like a good idea!

[2021-06-14 12:55] TakahikoKawasaki commented on #106
FYI: The 9th clause in "[7.1. Authorization server](https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-dynamic-client-registration-1_ID1.html#name-authorization-server-2)" states as follows.

The validation in the clause cannot be performed during the client registration process because, as I mentioned above, there is no way to request scopes during a client registration proc

[2021-06-14 16:19] TakahikoKawasaki opened #107 "Typo: OBB DCR"
**Section 5, the last paragraph**
"Langauges" -> "Languages"

**Section 6.1, Clause 6**
"Pushed Authorisation Requests" -> "Pushed Authorization Requests"

**Section 7.1, Clause 12**
"authenication" -> "authentication"

**Section 7.1.2, the last paragraph**
"descripters" -> "descriptors"

**Section 7.2.1**
"fine grained" -> "fine-grained"

**At many places**
Orthographical variants between "author

[2021-06-14 16:41] TakahikoKawasaki opened #108 "Typo: OBB FAPI"
**Introduction, the first paragraph**
"Area area" -> "area"

**Section 5.1, the 2nd bullet**
"fine grained" -> "fine-grained"

**Section 5.2.2.2, the 2nd paragraph**
"an cpf Claim" -> "a cpf Claim"

**Section 5.2.2.3, the 3rd paragraph**
"an cnpj Claim" -> "a cnpj Claim"

**Section 5.2.3, Clause 2**
"pushed authorisation requests" -> "pushed authorization requests"

**Section 7.2.1**
"REST Resouce

[2021-06-14 20:01] ginglass commented on #96
In fact, there was a mention about id tokens and userinfo endpoint but I think it was just a reference do OIDC Core... I thought it (offer a userinfo endpoint) was mandatory to OIDC compliance, but if it is not, my suggestion is to follow the second option proposed by you. I can change the Portuguese version to include some like this:

Authorization server
 14 - shall offer an userinfo endpoint, a

[2021-06-14 21:24] DeiGratia33 commented on #48
The fapi headers are included in the specifications of each API. In my opnion we can close this issue.

[2021-06-14 21:26] RalphBragg commented on #106
Why is there no way to request scopes during a registration process?

[2021-06-14 21:27] RalphBragg commented on #107
Feel free to raise a PR directly, I'm sure someone will get onto these at some point. Thanks for the detailed review.

[2021-06-14 21:30] DeiGratia33 commented on #56
The OBBIS is part of the symbols and abbreviations, I am not sure we need to refer to its full name.

[2021-06-14 21:32] DeiGratia33 commented on #60
Yes. We can close.

[2021-06-14 21:36] #107 closed

[2021-06-14 21:36] DeiGratia33 commented on #74
The current certificate standard, for the client (transport) certificate does not include custom OIDs. The Software Statement ID is included at the UID (OID 0.9.2342.19200300.100.1.1).

[2021-06-14 21:41] #108 closed

[2021-06-14 21:41] RalphBragg commented on #108
Ta - corrected.

[2021-06-14 21:48] DeiGratia33 commented on #75
We should sustain a refresh token time should be valid for the same timeframe of a linked consent. But the interpretation given is that the refresh token must have the same timeframe of a consent, what gives the initial concern raised by this issue.

[2021-06-14 21:49] RalphBragg commented on #75
If the wording is unclear but the intent remains the same, perhaps someone could suggest alternative language? The net result should be that if a consent is expired an access token can not be 'refreshed' to obtain a new access token.

[2021-06-14 22:06] RalphBragg commented on #105
Speaking with my specifications hat on.. no, device flow is a completely different oauth2 grant. For OIDC discovery, FAPI is very clear, discovery must be used. i.e standard discovery.

If you want an example of what is expected, https://www.bankofapis.com/articles/consent-confirmation-support/natwest-group-authorisation-servers-explained is a good example. note that all of these well-knowns actua

[2021-06-14 22:15] RalphBragg commented on #105
An example well know that 'mostly' has turned off the elements that are options is the Raidiam Reference Bank which is being used to build out the conformance and certification test suite.

https://auth.mockbank.poc.raidiam.io/.well-known/openid-configuration

[2021-06-14 22:17] RalphBragg commented on #96
We really need the working group to confirm that including this would be a non normative change and if so we can add it and put a test into the test harness to check for support.

[2021-06-14 22:18] alex-siqueira commented on #105
I agree with Ralph that we should avoid these hacks. Also, I'm not sure the scenario @alexasensio is after is really a device flow.
Can you be more specific? Why do you need two distinct authorization servers for the same API set?

[2021-06-14 22:28] RalphBragg commented on #105
I recommend reading: https://www.bankofapis.com/articles/consent-confirmation-support/natwest-group-authorisation-servers-explained to understand how to correctly advertise your authorisation servers (or virtual, brands) authorisation servers on the directory to handle this requirement.

[2021-06-14 22:33] #60 closed

[2021-06-14 22:33] RalphBragg commented on #56
Closing as requested.

[2021-06-14 22:33] #56 closed

[2021-06-15 04:34] TakahikoKawasaki commented on #106
Thank you for showing pointers to the specifications of UK Open Banking and AU CDR that define `scope` client metadata. That is, we don't have a global standard that defines default scopes per client yet.

It should be described somewhere concretely with examples how to compute scopes for each access token. Otherwise, confusion like below would happen and it would become difficult to expect intero

[2021-06-15 06:50] RalphBragg commented on #106
You're welcome however there is  limited additional guidance that can be given as the GT Security have adopted a mixture of 'scope' and 'authorization_details' (consent content) for controlling access to resource. The formal functional API of the swagger specifications for the resource APIs also mandate different scopes are required for different resources. This means that TPPs could ask for certa

[2021-06-15 06:52] #48 closed

[2021-06-15 07:32] TakahikoKawasaki commented on #106
@RalphBragg Thank you for taking time to write up the detailed comment. It sounds that each bank has to decide details. Also, the process of access token issurance has to look into details of "consent" in order to assign scopes properly to access tokens.

[2021-06-15 08:55] samlarsen1 commented on #105
Thanks @RalphBragg this aligns with our expectations - it was just a bit confusing having links to examples that are not following the same spec as us.  Thanks for clearing it up.

[2021-06-15 08:56] RalphBragg commented on #105
Can you point to the links in the Open Banking Brasil or Febraban alternative documentation that isn't clear and we can get it corrected?

[2021-06-15 09:19] TakahikoKawasaki commented on #106
Very sorry. My mistake. RFC 7591 defines `scope` client metadata...

It seems that the relationship between the `scope` client metadata and the `scopes_supported` server metadata is similar to the relationship between the `grant_types` client metadata and the `grant_types_supported` server metadata.

[2021-06-15 14:07] samlarsen1 commented on #105
Tracked it down, those examples were not published in the spec but were used in pdf comms from Febreban, so no updates required.

[2021-06-15 17:29] samlarsen1 opened #110 "Docs for well-known resource config"
The current docs for the well-known resource config are unclear:
https://openbanking-brasil.github.io/specs-seguranca/aspsp-user-guide.html#13-registering-resources

Do we create a well-known endpoint for each set of versioned APIs?  Are there any real examples of these files you can point us to?

Or are these the same well-known files that define our authorization server config?

[2021-06-15 19:01] DeiGratia33 commented on #7
is this still a issue?

[2021-06-15 19:12] DeiGratia33 commented on #30
The issue is still valid because of the diagram. There is not such thing as ICP Login. The best way to simplify this is to remove the validation steps done by the CAs and include just a step to request the certificate to CA and validate attributes.

[2021-06-15 19:24] DeiGratia33 commented on #86
@RalphBragg , I have written a FAQ MD over here to cover this kind of thing. We may recovery it and include this issue in there.

[2021-06-15 19:38] DeiGratia33 commented on #96
I agree that this was something that was already included. IMHO: the removal will be more harmfull than add the support.

[2021-06-15 19:43] DeiGratia33 commented on #98
@RalphBragg , in case of opaque tokens, any concerns over this option?

[2021-06-15 19:45] ediemerson-br commented on #17
@andreborges01 there are error use cases/responses in these links. It is that you are looking for?
https://openbanking-brasil.github.io/areadesenvolvedor/#casos-de-erro
https://openbanking-brasil.github.io/areadesenvolvedor/#criar-novo-pedido-de-consentimento

[2021-06-15 19:51] ediemerson-br commented on #35
In the future probably the Open Banking website will have a English version, not just the security specifications. So we will not translate it right now.

[2021-06-15 19:51] #35 closed

[2021-06-15 19:52] RalphBragg commented on #98
No - tokens should be opaque in my opinion. If they are structured opaque (JWE) that's up to the bank.

The Bank AS issues the access token for a Bank resource server to consume... so it really doesn't matter what format it is.

[2021-06-15 19:59] ediemerson-br commented on #14
@andreborges01 - have you checked the latest guides versions? Did they address your needs?

[2021-06-15 20:27] TakahikoKawasaki opened #111 "Question: Client Authentication Method at Introspection and Revocation Endpoints"
The example in "[9.1. Posting a request with a software statement](https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-dynamic-client-registration-1_ID1.html#name-posting-a-request-with-a-so)" in "[Open Banking Brasil Financial-grade API Dynamic Client Registration 1.0 Implementers Draft 1](https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-dynamic-client

[2021-06-15 20:29] msauaia commented on #87
Okay. But just to clarify one point.

We understand that JWE would be needed only in cases where there is a need to pass PII on requests.

It turns out that this is not a case of intended use. So, we understand that JWE would not be mandatory for phase 2. Is that correct?

We understand that there is a need to pass the CPF field in requests as a claim, in accordance with item "5.5.1. Individual Cl

[2021-06-15 20:59] DeiGratia33 commented on #87
Correct, for request, if you support PAR.

For return
FAPI Advanced
"should not return sensitive PII in the ID Token in the authorization response, but if it needs to, then it should encrypt the ID Token."

[2021-06-15 21:01] bruno-ortizgb opened #112 "Should cnpj be mandatory?"
The spec currently states the following:

This profile defines "cnpj" as a new standard claim as per clause 5.1[OIDC]

But the organization where i work does not work with cnpj so making it mandatory is a issue.

Should we make the cnpj a optional claim for the ASPSP's?

[2021-06-15 21:06] #87 closed

[2021-06-15 22:03] RalphBragg commented on #87
If you don't support par then you need to support encrypted request objects and will fail conformance if you don't.

[2021-06-15 22:15] DeiGratia33 commented on #112
Does your organization work with business accounts or just personal accounts? The CNPJ is the standard claim when handling business accounts.

[2021-06-15 22:52] RalphBragg commented on #87
Hi,

This is a subtle distinction that i think is being lost. If a tpp requests that the bank provides a cpf value then a bank can simply sign the response.

If a tpp requests that a cpf matches a specific required value, as per oidc code (8 year old spec) then it must encrypt them request object which means banks must support encrypted request objects (or par). This is as per oidc core so should

[2021-06-16 04:17] RalphBragg commented on #112
The issue is that the specification requires Banks to support the CNPJ claim. It doesn't distinguish between banks that don't support business accounts.

shall support the oidc standard claim "cnpj" as defined in clause 5.2.2.3 of this document

needs to read

shall support the oidc standard claim "cnpj" as defined in clause 5.2.2.3 of this document if offering services to corporate customer.

sha

[2021-06-16 04:20] RalphBragg commented on #111
Open Banking does not define these explicitly and there is no requirement to support or include them on the response however it is not a failing scenario if they are included on the response either as they are defined in the RFCs that you mentioned. The endpoint authentication mechanisms must be FAPI compliant. I'll remove these endpoint values from the responses for the sake of clarity.

[2021-06-16 04:22] RalphBragg commented on #110
The well-knowns are not required for each versioned APIs. Several Banks have configured their authorization server metadata and their functional API endpoints on the directory already. I'll find a good reference and include it here.

[2021-06-16 04:23] RalphBragg commented on #105
Thanks Sam

[2021-06-16 09:37] DeiGratia33 commented on #112
I see this is implicit, but at the same time just wanted to confirm we are not handling with a scenario where the entity have a business account that is not linked by CNPJ. This would be very peculiar if possible.

[2021-06-16 10:09] TakahikoKawasaki opened #114 "Question: software_* in SSA as defaults for standard client metadata"
The example in "[8.1. Software Statement Claims](https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-dynamic-client-registration-1_ID1.html#name-software-statement-claims)" of "[Open Banking Brasil Financial-grade API Dynamic Client Registration 1.0 Implementers Draft 1](https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-dynamic-client-registration-1_ID1.

[2021-06-16 10:19] RalphBragg commented on #114
@TakahikoKawasaki  - this was raised on the security working group and was passed to the 'User Experience WG'. The reason the requirements for Banks to enforce or use these other fields isn't defined is that they Authorisation Server user experience guidelines haven't been shared (at least not with me).

If the CEG's for Authorization Servers are published that state, Banks MUST show the client UR

[2021-06-16 13:13] bruno-ortizgb commented on #112
@DeiGratia33 we just work with personal accounts, i agree with @RalphBragg on how the specification could be changed.

It's not implicit if the certification test enforces that we need to support both claims even if we dont work with them.

[2021-06-16 14:06] alexasensio commented on #105
Thanks Alex, Ralph and Sam for clarifying this. As Sam said the mix up came from wrong unofficial documentation and misunderstanding device_authorisation_endpoint by something that could be used for smartphones, and not the [RFC8628](https://datatracker.ietf.org/doc/html/rfc8628) definition of "device".

Can be closed

[2021-06-16 14:09] RalphBragg commented on #105
cheers - can be closed when the information is transferred to wiki.

[2021-06-16 14:10] RalphBragg commented on #112
I'll raise a PR.

[2021-06-16 17:16] ginglass commented on #114
@RalphBragg , personally, I don't...

I thought that `software_` prefix was intentionally made just to differ this claims sent from TPP to directory (with _ROLES_ etc)  of those standard that should to be returned by directory (with the scopes related to regulatory roles and signed by directory).

I thought this SSA JWT returned by directory should be the one that TPP have to inform on `software_s

[2021-06-16 17:20] RalphBragg commented on #114
I'm not sure I understand the question. There are worked examples that are published on the open ID certification suite - dcr examples that I went though yesterday.

The scope mappings for regulatory roles is included in the table at the bottom of the dcr speciation.

[2021-06-16 17:49] ginglass commented on #114
ASPSP have to keep relationship bw cliente_id issued and *scopes*, right? scopes are not present at software_statement JWT nor RFC7591 request shown on section 9.1... so AS have to keep the relationship bw cliente_id and authorized ROLES and scopes... and the relationship bw ROLES and scopes have to be coded inside AS. Is that right?

[2021-06-16 18:00] RalphBragg commented on #114
That is correct; the regulatory roles of DADOS defines what a TPP actually needs to have access to. The scopes don't actually add anything because the TPP must be given permission to request all of the scopes. Likewise if a Bank staggers roll out of more endpoints for the APIs they have to make sure the the TPP can access those endpoints if it is a DADOS. How each bank maintains this is up to each

[2021-06-16 18:12] ginglass commented on #114
Could you please share with us a sample of Response Object ("SSL JWT") sent from DirectoryAPI to TTP on step 12 of DCR doc (Dynamic Client Registration Request Processing)?

[2021-06-16 18:28] RalphBragg commented on #114
I'm really confused about the request, I did a record demonstration to the 300+ people about how you can use the mock bank and the dcr certification tests to look at all of the end to end flows and even try it yourself.
https://www.certification.openid.net/log-detail.html?log=rPQ7sq4qP2S8IKM&public=true
https://gitlab.com/openid/conformance-suite/-/wikis/Brazil-DCR-Example-Configuration

[2021-06-16 18:54] ginglass commented on #114
My request was just to figure out if we should put this sample on DCR doc to make it more clear... thanks for this refs.

[2021-06-16 18:56] RalphBragg commented on #114
No worries, perhaps we should add an appendix to the DCR document? Or update the appendix with this example?

[2021-06-17 04:23] ginglass opened #118 "loggedUser and businessEntity constraints to AS"
Hello guys. I realize that we forgot to make clear on specs a constraint to require Authorization Server just permit authenticate a user that has the same CPF informed in loggedUser (document part) attribute present on linked consent resource object.

We also miss to establish a constraint to guarantee AS to check if the business account seleced or related to an authenticated user has the same val

[2021-06-17 13:42] DeiGratia33 commented on #118
Agree. This piece of validation is missing from our specs.

[2021-06-17 19:01] RalphBragg commented on #118
Technically this should be 'implicit' and obvious but it is a normative change in addition there was questions raised by the UI/UX team regarding the binding of Customer CNPJ accounts and how the matching should be performed.

e.g if i have an account and you have to specify each cnpj to the TPP first, if i'm trying to share say 3 different business accounts that would mean i have to login and aut

[2021-06-17 19:47] samlarsen1 opened #119 "Question: Where do i find instructions on how to query the directories APIs?"
Is the directory API for Phase 2 different to Phase 1?  We expect it is because the phase 1 API is open and not token secured, also the swagger for phase 2 is different in structure and uri.  We would also like to confirm that the directory data is different.

Please confirm.

Thank you

[2021-06-18 06:11] RalphBragg commented on #38
The certificate instructions, example openssl configuration files and a shell script with the openssl commands have been added to this repo.

[2021-06-18 06:13] RalphBragg commented on #119
Hi - The directory swagger has been published on the main repository) and the usage instructions for obtaining and using an access tokens are included on the aspsp and tpp user guides.

[2021-06-18 08:16] RalphBragg commented on #98
If there is no other comments i'll submit a pull request for this change

[2021-06-18 08:16] RalphBragg commented on #112
PR Raised and out for review

[2021-06-19 17:30] samlarsen1 opened #122 "DCR Update Scopes"
If we receive a PUT /register update for a TPP Client with a different (smaller) sub-set of allowed scopes, are we expected to delete all consents that have been previously issued which may include scopes that are no longer allowed?  Or do we simply delete all consents?  Or is this something we should evaluate in real-time for each resource API request?

e.g.
  Initial Scopes: openid accounts cred

[2021-06-19 22:15] TakahikoKawasaki opened #123 "Question: refresh token expiration date after refreshing"
The 1st clause in "[7.2.2. Authorization server](https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-financial-api-1_ID1.html#name-authorization-server-2)" of "[Open Banking Brasil Financial-grade API Security Profile 1.0 Implementers Draft 1](https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-financial-api-1_ID1.html)" states as follows.

So, the first r

[2021-06-19 23:37] DeiGratia33 commented on #123
We have an open issue  #75 to clarify the intent of this item.

[2021-06-20 00:34] Wesley-Alves opened #125 "Question: How to bound selected account with consent?"
According to the user guide document (https://openbanking-brasil.github.io/areadesenvolvedor/documents/GuiaDeExperienciaDoUsuarioCompartilhamentoDeDadosEIniciacaoDePagamento.pdf, page 90), in the data sharing consent authorization process, the user can select a source account of their data to associate with the consent

So is there any standardized way to associate user-selected data, in this case

[2021-06-21 06:22] ju-cu opened #127 "Question: How to enforce encrypted request object during DCR"
The [OBB FAPI 1 DCR Profile](https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-dynamic-client-registration-1_ID1.md#authorization-server-1) has the following requirement on Authorization Servers:

To my understanding encrypted request objects are required by the Brasil Open Banking Security Profile and part of the authorization, i.e. when requesting a token. Howev

[2021-06-21 07:34] ju-cu opened #128 "Question: How to get "regulatory role" from SSA?"
[OBB FAPI 1 DCR] specifies the following requirement for Authorization Servers:

The [example software statement](https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-dynamic-client-registration-1_ID1.md#software-statement-claims) contains multiple claims for roles: `software_statement_roles` and `software_roles`. As there is no description of the claims (reported in

[2021-06-21 09:28] RalphBragg commented on #127
This clause in DCR is missing a 'shall require support for'. The obligation as defined on the security profile is for Banks to support encrypted request objects if not enforcing the use of PAR.

The obligation is on the **RP** to use encrypted request objects and for the banks to support their use or use PAR.

A clarification perhaps should be to check for the presence of request_object_encryption

[2021-06-21 09:33] RalphBragg commented on #123
@TakahikoKawasaki  - the intent is simple, when the consent expires (and they can't be extended currently) then the 'grant' is expired. Refresh, ATs etc should no longer permit access to the resource.

[2021-06-21 09:35] RalphBragg commented on #128
https://github.com/OpenBanking-Brasil/specs-seguranca/issues/85
Please refer to previous question

[2021-06-21 09:39] RalphBragg commented on #125
This is bank specific though consult the 'Resources API' to see how you'll need to track authorisations and potentially multiple party authorisations.

[2021-06-21 09:51] ju-cu commented on #127
That was my understanding as well.

Even if the client includes `request_object_encryption_enc` and `request_object_encryption_alg`, it is not obliged to encrypt the request object as the parameters only list the client's preferred algorithm. From [OIDR](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata)

I'll wait for an updated version of the draft. Thank you for your

[2021-06-21 09:51] #127 closed

[2021-06-21 09:52] ju-cu commented on #128
Ah, sorry. Missed to browse through the closed questions. Thanks!

[2021-06-21 09:52] #128 closed

[2021-06-21 09:56] RalphBragg commented on #122
The requirement in this space was articulated in https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-financial-api-1_ID1.md

shall ensure Access Tokens are issued with sufficient scope necessary for access to data specified in the Permissions element of a linked Consent Resource object;

Consumers will consent to a specific set of permissions (not scopes) with a TPP

[2021-06-21 10:56] TakahikoKawasaki commented on #123
@RalphBragg Thank you. If so, options for authorization server implementations will be either

1. not issue a new refresh token and not revoke the used refresh token after use, or
2. issue a new refresh token but the new one takes over the remaining lifetime of the used one.

The first option will be easier for most authorization server implementations.

[2021-06-21 10:58] RalphBragg commented on #123
Hi @TakahikoKawasaki  - are you talking about refresh token rotation? i.e issue a new refresh token after every use? I thought that this was clarified by the FAPI WG? (i.e don't) Australia tried it and it was an unmitigated disaster.

Option 1 for my money. I'll check that this isn't defined any where and then propose an enhancement to make it explicit, please don't use refresh token rotation.

[2021-06-21 11:09] RalphBragg opened #129 "Remove unintentional support for refresh token rotation."
A question was raised covering the behaviour of refresh tokens and whether a new refresh token should be issued when one is presented. ala, refresh token rotation. The support for refresh token rotation poses significant challenges for the ecosystem especially if a refresh token is lost. Whilst it is possible to 're-consent' an existing consent, this would require customer interaction which is und

[2021-06-21 11:09] TakahikoKawasaki commented on #123
The second option is "refresh token rotation". I don't remember whether it was clarified in FAPI WG calls. I mean I was not listening to discussion related to it carefully.

What I noticed now is that expiration date of access tokens issued by refresh token requests (= token requests with `grant_type=refresh_token`) must not exceed the `expirationDateTime` of the consent, if the rationale behind `

[2021-06-21 11:11] RalphBragg commented on #123
I agree - https://github.com/OpenBanking-Brasil/specs-seguranca/issues/129 Australias experimentation with this should be a lesson learned. It's still a problem that remains unresolved.

[2021-06-21 14:28] #112 closed

[2021-06-21 20:09] samlarsen1 opened #130 "Question: Can I use an ICP certificate shared across different Organisations"
We are considering sharing TLS server certificates for our parent organisation which contains three brands, but we would also like to use the same certificate across 4 more brands that exist inside their own organisation.  Can you confirm if we can share certificates like this?

e.g.
 - Organisation1
   - Authorization Server
   - Authorization Server
   - Authorization Server
 - Organisation2

[2021-06-22 05:15] RalphBragg commented on #130
For the Authorization servers or api endpoints there is no issue with using the same Cert and adding all of the endpoints to the SAN list. The same approach is used in the U.K.

[2021-06-22 11:02] samlarsen1 commented on #130
Thanks Ralph

[2021-06-22 11:07] RalphBragg commented on #130
Sam - apologies. I miss understood the question. The Brazil Profile explicitly includes the organisation ID in the Distinguished name in addition i can not confirm what validation ICP Brazil will perform on SAN entries to confirm if they match the same organisation.

For Sandbox, technically there is nothing stopping you do this, indeed many banks in the UK do this anyway especially when their aut

[2021-06-22 13:33] samlarsen1 commented on #130
Thanks @RalphBragg, the docs are not clear for section 5.2.1 here:
https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-certificate-standards-1_ID1.html#section-5.2.1

The description does not include any organisation parameters as we do see with the client certificate definitions or the signing certificate definitions.

Please clarify if there is this requirement for server tr

[2021-06-22 15:03] FrancoPeluti opened #131 "ClientID on Plan Test Guide"
Hello there,

     At this guide https://openbanking-brasil.github.io/areadesenvolvedor/documents/Guia_OBB.pdf, page 18  item 11 of Requirements, says that "Add the client_id from the SSA issued by the Directory"  but I think It should be the one issued by the ASPSP DCR. Is this understanding correct?

[2021-06-22 15:20] RalphBragg commented on #131
Your understanding is correct; this guide is incorrect.

[2021-06-22 15:28] RalphBragg commented on #130
The server certificates for production are meant to be standard ICP Brazil Web Server Certificates. The latest communications from the Security Team is that ICP 'Software / Transport' certificates will support client and server auth extended attributes so you could theoretically ask for a server certificate, linked to a software statement and use that.

Personally i wouldn't, i would just by a sta

[2021-06-22 15:45] danillobranco commented on #118
![Captura de Tela 2021-06-22 às 12 32 20](https://user-images.githubusercontent.com/86311758/122954589-f3268180-d355-11eb-9001-a967b056e74e.png)

In this figure

(a) One CNPJ is controlled by 1 or any CPFs. This should be done regarding the SOCIAL CONTRACT (Contrato Social) or any public document that gives control to any CPF (Procurador Legal). The CPF must be identified by the CNPJ as a legal pe

[2021-06-22 16:35] FrancoPeluti commented on #131
thx Ralph

[2021-06-22 17:03] ginglass commented on #96
This clause is already present at our security profile...

8. shall implement the user info endpoint as defined in clause 5.3 [OpenID Connect Core][OIDC]

I think it is not a bug. May I close this ticket?

[2021-06-22 17:16] RalphBragg commented on #96
@ginglass  - you are absolutely correct. I didn't notice that it is still included because it has the wrong name. userinfo is what it should be not 'user info'.

[2021-06-22 17:16] #96 closed

[2021-06-22 17:16] RalphBragg opened #132 "Errata: clause 8. of the security profile refers to 'user info' endpoint when it should be 'userinfo' endpoint"
This should be corrected in the next draft.

[2021-06-22 22:01] TakahikoKawasaki opened #133 "Question: Should require_signed_request_object be true?"
[A test log](https://www.certification.openid.net/log-detail.html?log=rPQ7sq4qP2S8IKM&public=true) of fapi1-advanced-final-brazil-dcr-happy-flow shows that the response from the Client Registration Endpoint includes the `require_signed_request_object` client metadata like below.

[code]

Because [the JAR specification](https://datatracker.ietf.org/doc/draft-ietf-oauth-jwsreq/) says as follows,

au

[2021-06-23 01:31] TakahikoKawasaki commented on #133
Because OBB is based on FAPI 1.0 Advanced, either `request` or `request_uri` is needed in any case.

[2021-06-23 01:31] #133 closed

[2021-06-23 11:19] alexasensio opened #134 "Missing "Resources" API scope from Default Scope list for DADOS."
- Is there a scope for accessing the /resources API?

https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-dynamic-client-registration-1_ID1.html#section-7.2 Does not have any "resources" scope at the moment, however: the /resource API swagger requires permission "RESOURCES_READ" and according to the (deleted, see issue [OpenBanking-Brasil/areadesenvolvedor/#176](https://github

[2021-06-23 11:58] ediemerson-br commented on #132
Done!

[2021-06-23 11:58] #132 closed

[2021-06-23 12:16] RalphBragg commented on #134
The spreadsheet is correct, at least for this issue. In addition the scope is defined on the actual API resource itself (which is master). https://openbanking-brasil.github.io/areadesenvolvedor/swagger/swagger_resources_apis.yaml

@ginglass is in fine form this morning with addressing these so this should be a quick fix. Good spot.

[2021-06-23 12:19] RalphBragg commented on #134
@ginglass: Can you do the honours please and add yet another scope to the allowable / default scopes for a DADOS. It would be great if for ID2 this could be looked at holistically. Why do you have a permission for resources and a 'scope' when you only have one permission.

Needing both a scope and permission when actually both a synonymous at the moment for each other is just another area where TP

[2021-06-23 13:24] mposolda commented on #75
Just a clarification, that this statement is not true at all and I am not sure how this was deducted? In Keycloak, each client has different refresh tokens. For example if client-a tries to use refresh token, which was issued for client-b, the Keycloak server will reject that refresh token attempt. Refresh token must be always issued for concrete client-id. Also even for refresh tokens for same cl

[2021-06-23 14:36] ginglass commented on #134
Hi @RalphBragg . I raised this issue yesterday at Sec WG. We address this issue to Spects WG to help fix it.  Don´t make any sense define a permission to this API if any consent is made. I think that "consents" scope (and an dynamic consent related) wold be sufficient, don´t you agree?. So there is no issue to DCR or security profile... just adjusts at swagger file. Do you agree @GislaineAlmeida

[2021-06-23 14:39] RalphBragg commented on #134
Honestly - i'd suggest removing scopes entirely from all of the other APIs. Every AS is going to have to evaluate permissions for 90% of the APIs. Why would you want to have this one as 'special'. I would have thought that implementers would have preferred a consistent pattern both for consent and also resource security rather than a mixed mode.

[2021-06-23 14:51] ginglass commented on #134
Permissions will be shown to customer and if the customer doesn´t consent with this one (resource_read) there is no consent at all... this one should not be presented as an option to users. Permissions could be implemented outside AS (RP can implement this verification), so I don´t know if 90% of permissions controls will be made by the AS itself.

[2021-06-23 15:07] RalphBragg commented on #134
Correct - the customer has consented to the permission. So from a security point of view i need to know the permission... the scope offers nothing. So drop the scope.

[2021-06-23 15:54] ginglass commented on #134
Permissions have to be shown at consent page, right? So do you believe that customers must have the option to choose to give or not this specific permission? I don´t think it´s a goog idea.

I agree that could be sufficient a basic scope (I thouht "consents" but can be a specific one "resources" - for now - or no scope at all - let me check with specs/security guys, right?). The RP of "resources A

[2021-06-23 16:55] menecio opened #137 "Missing section in "Third Party Provider End To End User Guide""
Here at [4.3.5 Access Resources](https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/tpp-user-guide.md#435-access-resources) it mentions

But there is no 4.2.3 section under 4.2

[2021-06-23 17:00] ginglass commented on #137
You´re correct. It means 4.3.3 as in portuguese version. Will fix it on next PR.

https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/tpp-user-guide-ptbr.md#435-acesso-aos-recursos--acessorecursos

[2021-06-23 17:18] menecio opened #138 "Question: How do refresh tokens work?"
It's not clear how refresh token support will work, [here](https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-financial-api-1_ID1.html#name-authorization-server) in the "Open Banking Brasil Financial-grade API Security Profile 1.0 Implementers Draft 1" in section 5.2.2.12  it's stated that:

But then in the [TPP End-to-End Guide](https://openbanking-brasil.github.io/specs-seg

[2021-06-23 19:44] DeiGratia33 commented on #130
The certificates defined as ICP-Brasil TLS Web Server are used for URLs/Resources protected by MTLS and does not require any attributes specific for OpenBanking, that's the reason the documentation is not specifying a different or custom set of attributes. They are based on current practices of the ICP-Brasil, that are aligned with OV type.

For URLs, not protected by MTLS, where a end user will n

[2021-06-24 02:43] #137 closed

[2021-06-24 04:20] RalphBragg commented on #138
Support for refresh tokens and how they’re used is defined in the base oauth 2 specification. Rfc6749

[2021-06-24 17:25] ediemerson-br commented on #6
@RalphBragg, is just the SVG image format allowed by oauthstuff/markdown2rfct tool?

[2021-06-24 17:27] ediemerson-br commented on #14
If you have further questions, you can create a service desk ticket.
https://servicedesk.openbankingbrasil.org.br/Login.jsp

[2021-06-24 17:27] #14 closed

[2021-06-24 17:28] ediemerson-br commented on #17
If you have further questions, you can create a service desk ticket.
https://servicedesk.openbankingbrasil.org.br/Login.jsp

[2021-06-24 17:28] #17 closed

[2021-06-24 17:28] #7 closed

[2021-06-24 17:29] #37 closed

[2021-06-24 17:29] #38 closed

[2021-06-24 17:34] #105 closed

[2021-06-24 17:36] ediemerson-br commented on #125
If you have further question, you can create a service desk ticket.
https://servicedesk.openbankingbrasil.org.br/Login.jsp

[2021-06-24 17:36] #125 closed

[2021-06-24 17:36] ediemerson-br commented on #119
If you have further question, you can create a service desk ticket.
https://servicedesk.openbankingbrasil.org.br/Login.jsp

[2021-06-24 17:36] #119 closed

[2021-06-24 17:39] ediemerson-br commented on #74
If you have further question, you can create a service desk ticket.
https://servicedesk.openbankingbrasil.org.br/Login.jsp

[2021-06-24 17:39] #74 closed

[2021-06-24 17:42] ediemerson-br commented on #76
If you have further question, you can create a service desk ticket.
https://servicedesk.openbankingbrasil.org.br/Login.jsp

[2021-06-24 17:42] #76 closed

[2021-06-24 17:44] ediemerson-br commented on #84
If you have further question, you can create a service desk ticket.
https://servicedesk.openbankingbrasil.org.br/Login.jsp

[2021-06-24 17:44] #84 closed

[2021-06-24 17:51] alexasensio opened #140 "Questions: Userinfo access token"
The userinfo endpoint requires an access token according to OIDC Section 5.3 https://openid.net/specs/openid-connect-core-1_0.html#UserInfo

1. What is the required scope of this token? openid?

2. I am assuming that the identification of which customer's userinfo details are requested by the TPP is only known because the access token is linked to a given consentId. Is that correct?

[2021-06-24 19:08] #134 closed

[2021-06-25 15:22] bruno-ortizgb opened #141 "ID2: Make PKCE required in the spec"
I understand that the FAPI specification makes the use of PKCE mandatory when PAR is used.
But i think that it would be beneficial for the ecosystem if PKCE was required for all cases.

For reference: https://datatracker.ietf.org/doc/html/rfc7636

[2021-06-25 15:49] ginglass commented on #141
Hello Bruno.

I agree with you. I don´t know why FAPI WG explicity removes this requirement that is present on FAPI Basic (Part 1) profile item 7... but I supose there is a big issue I don´t know yet :-)

As part of FAPI Part 2 Advanced you´ll find:

"The authorization server shall support the provisions specified in clause 5.2.2 of Financial-grade API Security Profile 1.0 - Part 1: Baseline, with

[2021-06-25 16:45] bruno-ortizgb commented on #141
Hi @ginglass thanks for the quick reply! I think that this exception in fapi advanced was made because of the prohibition of "public" clients, so if a client is "confidential" my understanding is that the token exchange is protected by other means, like mTLS, private_key_jwt, etc, nevertheless i think that this could bring a bit more of "security" to the ecosystem given that people still have conc

[2021-06-26 18:57] hsuzuki2021 opened #142 "Header x-fapi-interaction-id"
At https://openid.net/specs/openid-financial-api-part-1-1_0-final.html#rfc.section.6.2.1

11. must set the x-fapi-interaction-id response header to the value received from the corresponding FAPI client request header or to an RFC4122 UUID value if the request header was not provided to track the interaction, for example, x -fapi-interaction -id: c770aef3-6784-41f7-8e0e-ff5f97bddb3a;

But at https:

[2021-06-27 14:45] RalphBragg commented on #141
The reason that PKCE was not mandated was that hybrid flow, if well implemented by clients, offers the same protection. The key point is that PKCE pulls this protection to the server side (OP) so it is arguably more secure from an ecosystem point of view because OP's have tended to be the only participant that was tested.

It also wasn't mandated for FAPI 1 for backwards compatibility reasons for

[2021-06-28 08:01] RalphBragg commented on #140
1. openid - This is a core part of openid connect, the userinfo endpoint is accessible using an access token that has scope openid so technically ALL access tokens (except the consents creation access token) could be used to access the user info endpoint.

"The UserInfo Endpoint is an OAuth 2.0 Protected Resource that returns Claims about the authenticated End-User. To obtain the requested Claims

[2021-06-28 18:16] TakahikoKawasaki commented on #123
It seems that the content of the 1st clause in "7.2.2. Authorization Server" has been changed from

to

According to the new clause, it is technically allowed to issue a refresh token whose lifetime is longer than the lifetime of the corresponding consent. At least, it is difficult, if not impossible, for readers to think that the lifetime of the refresh token should not exceed the lifetime of the

[2021-06-28 18:28] DeiGratia33 opened #143 "Question: Encrypted JWE requirements, where are the keys?"
Since the usage of JWE is supported by the specification, we need to make clear at the specification the keys used for Encryption, as the JWKS used to store the keys.

Authorization Server and Client App.

[2021-06-29 08:33] RalphBragg commented on #143
Hi,

The JWKS contains an entry for ENC as defined in the JWKS endpoint. https://datatracker.ietf.org/doc/html/rfc7517

4.2.  "use" (Public Key Use) Parameter

   The "use" (public key use) parameter identifies the intended use of
   the public key.  The "use" parameter is employed to indicate whether
   a public key is used for encrypting data or verifying the signature
   on data.

   Values def

[2021-06-29 08:36] RalphBragg commented on #123
This wording is wrong. I'll check who raised and approved the pull request.

[2021-06-29 08:39] perlboy commented on #143
It seems relevant to highlight at this point that the FAPI Conformance suite assumes the JWE (if present) is the first entry in the JWKS. Also, some implementations barf if `use` is missing.

[2021-06-29 08:44] RalphBragg opened #144 "Bug: PR 124 - Refresh Token Usage and Issuance"
There was a change in the specifications introduced as a result of a PR-124.

1. shall issue refresh tokens with validity equal to the *expirationDateTime* defined on the linked Consent Resource;

was changed to

1. shall only issue refresh tokens when linked to active and valid consent;

This should read,

1. shall only issue access and other tokens on presentation of a refresh token when the Con

[2021-06-29 09:07] RalphBragg commented on #143
@perlboy Wrong endpoint / usage mate. The requirement is to support encrypted request objects which are encrypted with the Banks Private Key from the Banks JWKS. The issue you're talking about is where your testing encrypted ID Tokens which isn't required for Brazil.

Joseph can confirm but it's not an issue for Brazils security profile.

[2021-06-29 11:55] esachser commented on #143
The key registration in the JWKS is made clear by the standards.
But these questions remain for Open Banking Brasil:

1. Is the "enc" key associated with any certificate (ICP-Brasil or otherwise) or should the ASPSP just generate a key pair and publish it in the JWKS?
1. Are these JWKS going to be published in the Directory or should the ASPSP just host the file on their own domain?
1. If the ID t

[2021-06-29 12:09] #75 closed

[2021-06-29 12:09] #144 closed

[2021-06-29 12:23] RalphBragg commented on #143
3. There is no requirement currently expressed for encrypted id_tokens in the 'front channel'. If you have a need to be doing this can you please raise this with the security working group. id_tokens with consumer claims should only be necessary via the token endpoint which is already appropriately secured and thus do not need to be encrypted. Making TPPs deal with encrypted id tokens because a ba

[2021-06-29 13:40] esachser commented on #143
For 1 and 2: This should be defined in the specs. It's important, because it involves aquiring or not new certificates.
For 3: So, if some TPP requests cpf or cpnj claim on id_token as essential, is it possible for the AS to reject the authorization request by not supporting encrypted id_tokens?
Reading <https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-financial-api-1_ID1.h

[2021-06-29 13:59] jogu commented on #143
Note that there are *two* id tokens returned to the relying party if using `response_type=code id_token`.

Privacy sensitive claims must not be returned (unencrypted) in the front channel id_token (i.e. the one returned from the authorization endpoint).

The most sensible approach is to return cpf / cpnj only in the id_token returned from the token endpoint. Using JARM is also a sensible option. I

[2021-06-29 14:01] mariatagalaki opened #146 "GET/accounts Credit card accounts permissions - clarification question"
hi all,

I have a question regarding the mapeamento_roles_permissions published [here ](https://github.com/OpenBanking-Brasil/areadesenvolvedor/blob/196bf4779a6a7ce5b651193e68fa77c09e217619/documents/Mapeamento_roles_permissions.xlsx)

- I understand that for the **CREDIT_CARDS_ACCOUNTS_BILLS_READ** permission the **CREDIT_CARDS_ACCOUNTS_READ** permission should be requested.
- I understand that w

[2021-06-29 14:08] RalphBragg commented on #143
Thank you Joseph - implementers still get confused with the id_token as a detached signature in the front channel vs an id_token in the backchannel it seems. Perhaps another workshop on OIDF FAPI fundamentals might be useful. I'll talk to Mike L

[2021-06-29 23:17] EkkeErick opened #147 "Poll: Does publication of Banks Authorization Server locations and available API Services and Endpoints publicly pose a security risk? [Please Vote - Tick up or Down]"
For the data extract of the directory the security WG said that Raidiam  can display both Phase 1 And Phase 2 APIs.

No need to filter it out.

If you understand that this might pose a security issue please reply. Otherwise let's go with them.

[2021-06-30 10:46] RalphBragg opened #148 "RSA-OAEP-256 vs RSA-OAEP"
The security profile requires the use of RSA-OAEP as an encryption algorithim.
Under the covers this uses SHA1.

Does support for RSA-OAEP-256 want to be phased in?

[2021-06-30 12:29] panva commented on #148
More info - https://security.stackexchange.com/a/112032

[2021-06-30 13:21] leandrobarra opened #149 "Open Banking Brasil Certificates Usage Clarifications"
The Open Banking Brasil ecosystem uses 4 types of certificates.

Server Certificate (5.2.1) - API endpoints
Client Certificate (5.2.2) - authenticate mTLS/authenticate client
Signature Certificate (5.2.3) - to sign the JWT
Front-End Certificates (5.2.4) - for front-end access

Discussing in a security gt, some doubts were not clarified:

Server Certificate (5.2.1) - Can Wildcard SSL be used?

Clie

[2021-07-01 02:05] dcreado opened #150 "broken reference on API sec id1"
Hi All,

the API Security Profile 1.0 ID 1 document on section 5.2.1 refers to a section 7.4.1 on FAPI 1.0 Advanced that was withdrawn.

[2021-07-01 02:41] DeiGratia33 commented on #148
I believe for better consistency and more resilience of the ecosystem the profile should encourage the usage of OAEP with SHA256.

I know this could be controversial since we are talking about an encryption property, but inside of the Security Proile for signature there is the usage of PS256(SHA2) and reading the ICP-Brasil Documentation the usage of SHA-1 (Signature) was also removed.

Also impor

[2021-07-01 03:16] DeiGratia33 commented on #149
The server certificates were not specified under the OpenBanking specifications and have the same rules defined by WebTrust and ICP-Brasil.
FYI: If you select an EV, per Cab/Forum, wildcard is not allowed. You need to interact directly with your CA to see their practice and certificate type you will select.

If your entity does not use any client application, and therefore, it will not authenticat

[2021-07-01 03:44] DeiGratia33 commented on #150
That is correct.

[2021-07-01 06:49] RalphBragg commented on #150
This should be referring to 7.4.1 Baseline not advanced which calls out that FAPI does not require encrypted request objects.

[2021-07-01 06:59] #150 closed

[2021-07-01 07:04] RalphBragg commented on #150
Thanks for the spot at @dcreado - this documentation reference has been updated to FAPI 1 Baseline instead of Advanced where this issue has been identified.
For reference; i've raised bug https://bitbucket.org/openid/fapi/issues/428/baseline-clause-741-talks-about-security against FAPI 1 Baseline which is in Final but this issue should be addressed in an Errata release as it is addressing informat

[2021-07-01 07:07] RalphBragg commented on #148
Extending support to allow Banks to offer 256 in addition to RSA-OAEP would be non breaking but it is a change. I would suggest including this enhancement in Implementers Draft 2 if there is broad support.
Migration to 256 would require Banks to support both for a period, give TPPs time to switch and then deprecate support for 256.

This is a good migration exercise for the ecosystem to undertake.

[2021-07-01 09:29] alexasensio commented on #122
@RalphBragg  I still think this question is unclear, at least for me.

Two scenarios to try to clarify the question:

Scenario A:

1. A TPP with role=DADOS + PAGTO registers a client with scopes: openid accounts credit-cards-accounts consents customers invoice-financings financings loans unarranged-accounts-overdraft resources payments
2. Customers create and authorize consents using appropriate p

[2021-07-01 09:57] RalphBragg commented on #122
Hi - so i would be applying the same logic that applies to 'rich authorisation requests' which is essentially what the Consent Object is.

"Since the scopes overwrite the permissions granted by a customer". Is incorrect using a referenced Consent. The Customer has consented to certain access, the TPP is allowed access to those resources by its regulatory permission ergo access should be granted. I

[2021-07-01 13:16] dcreado commented on #148
Both algorithms are semantically secure and are good option for key transport in the context of JWE.
From my experience, the masking function with SHA256 might be tricky on legacy systems.
Probably defining oaep with sha256 as recommended might be a good option.

[2021-07-02 20:07] TakahikoKawasaki commented on #148
If requirements for encryption algorithms were easily changed like this, it would take time for specifications themselves and implementations to become stable.

"[8.6.1. Encryption algorithm considerations](https://openid.net/specs/openid-financial-api-part-2-1_0-final.html#encryption-algorithm-considerations)" of "[FAPI 1.0 Advanced](https://openid.net/specs/openid-financial-api-part-2-1_0-final.

[2021-07-02 20:32] TakahikoKawasaki commented on #143
![code_id_token](https://user-images.githubusercontent.com/1641166/124325566-d5f87b00-dbbf-11eb-9409-bd874c44f888.png)

[2021-07-06 01:30] ginglass commented on #118
Hi folks.

After some discuss  with Specs, UX and PRC...

- loggedUser has to be filled with CPF of user logged at TTP  (based on a previously made minimum registration process), even if it is related to a business acoount;
- if the businessEntity attribute is not filled in with the CNPJ, the user could only select/share data from the individual account he owns. Banks must restrict selection optio

[2021-07-06 08:11] alexasensio commented on #118
Hi @ginglass, regarding your latest update:

- If the businessEntity is not filled in, and the user does not have any individual account on the sharing financial institution (only business accounts): During the authorization request, what is the expected error that needs to be sent to the receiving institution?
- Similarly, if the businessEntity if filled with a valid CNPJ, but the in the sharing

[2021-07-06 09:11] RalphBragg commented on #118
@ginglass  - can you take Alex's questions and pull them into a table of OIDC errors please.

- User didn't select any accounts
- Submitted Consent didn't belong to User
- Submitted Consent didn't belong to client (hijack)
- User CPF does not match consent
- CNPJ does not match consent
- User not authorized to share data on behalf of CPF.

All these errors should be given defined strings as error

[2021-07-06 11:59] ginglass commented on #118
Great ideia. I´m going to ask for specs WG to do that and I´ll propose a PR to make that constraints clear on security profile.

[2021-07-06 22:04] EkkeErick commented on #118
@RalphBragg , one question that rose about adding this was if it would impact the conformance Tests?

At the current moment i am supposing both Raidiam and OIDF engines won't check the return in case of those errors.

Best,
Erick

[2021-07-06 22:10] RalphBragg commented on #118
Hi,

It shouldn't  at the moment however it would be useful to understand the specific tests cases that would have to be created.

Because this would result in an error being returned from the OP you will need to uplift the standards to cover the OP errors i mentioend earlier.

[2021-07-07 13:27] Willao opened #152 "Request Object Decrypt"
To decrypt "request Object" where I found the key? It will be on the Authorization Server JWKS URI?

[2021-07-08 00:02] ginglass commented on #118
Hi guys, change proposal to security profile to fix it:

https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-financial-api-1_ID1.md#authorisation-life-cycle)

Authorisation Life Cycle
(...)
8. shall return authentication failure and return code **_access_denied_** in the **_error_** parameter (as specified in section 4.1.2.1 of RFC 6749) if the CPF of the authentica

[2021-07-08 06:00] RalphBragg commented on #118
Seems fine but this is a normative change. Make an ID2 of all documents and incorporate.

We will then ask the oidf to make a ID2 conformance suite. It’s not critically urgent and there’s lots of other stuff that needs to go in. CIBA, consent api changes etc .
________________________________
From: ginglass ***@***.***>
Sent: Thursday, July 8, 2021 1:02:25 AM
To: OpenBanking-Brasil/specs-seguranca

[2021-07-08 15:14] alexasensio commented on #152
@Willao check https://github.com/OpenBanking-Brasil/specs-seguranca/issues/143

[2021-07-09 10:07] RalphBragg commented on #152
Closing as duplicate

[2021-07-09 10:07] #152 closed

[2021-07-09 10:08] samlarsen1 opened #159 "Consent Life Cycle Management Not Clear: e.g Cancel Consent - update to rejected?"
Hi, we have an assumption that when the customer clicks on the 'cancel' button on a consent authorisation screen, the ASPSP is required to update the consent status to 'Rejected'.

We can't find this explicitly in the documentation.  Can you confirm if this is the expected behaviour?

[2021-07-09 10:53] RalphBragg commented on #159
@samlarsen1  - i can't comment for the security team but i can confirm that this is the behaviour we are expecting to be implemented in the certification suite. There will be a relying party TPP test to confirm that the TPP deletes any rejected or expired consents when they are no longer needed.

consent life cycle docuementation needs to be improved.

[2021-07-09 12:39] alexasensio commented on #159
What about the behaviour on the ASPSPs? Are they expected to change the status to REJECTED? Currently the certification for OpenID Providers (ASPSPs) only fapi1-advanced-final-user-rejects-authentication test that an access_denied response is provided.

In other words: who is responsible for changing the status of the consent when the customer clicks CANCEL: the ASPSP?, the TPP or both?

[2021-07-09 12:55] RalphBragg commented on #159
As i understand it, the ASPS should change the status too rejected and the TPP should DELETE the resource.
But i could be mistaken. The UK model was not 100% followed on this point as teh UK modle changed in version 1.8

This isn't documented as far as i can tell

[2021-07-09 13:00] alexasensio opened #160 "Question: Nonce and State max &/or min length?"
I have not been able to find any minimum or maximum requirement lengths for the authorization request parameters 'nonce' and 'state'.

Only found out some implementation notes on [OIDC](https://openid.net/specs/openid-connect-core-1_0.html#NonceNotes) or [OAuth2](https://datatracker.ietf.org/doc/html/rfc6749#section-10.12), but nothing specific describing any recommended minimum length or maximum

[2021-07-09 14:30] RalphBragg commented on #160
https://github.com/openid-certification/oidctest/issues/134

[2021-07-09 15:34] #118 closed

[2021-07-09 18:15] FlavioABrandao opened #161 "Inconsistency on template file signing certificate"
1. The template file "Configuration template for signing certificate - OpenSSL" has an inconsistency because, in the documentation, there is a **date of birth** "otherName (OID 2.16.76.1.3.4 – ICP-Brasil): Responsible for the certificate of legal entity holding the certificate (**date of birth**, CPF, PIS/PASEP/CI, RG)" and in the template does not have this information.
otherName.2 = 2.16.76.1.3.

[2021-07-12 08:06] RalphBragg commented on #160
Please raise this against the OIDF conformance suite or the FAPI Bitbucket.

[2021-07-12 08:06] #160 closed

[2021-07-12 08:08] RalphBragg commented on #141
@ginglass  - can you propose a PR for ID2 please for the Banks to require PKCE for redirect (Authorizaiton Server Provisions) and the Client Provisions to shall use PKCE for redirect.

[2021-07-12 08:13] perlboy commented on #160
I don't believe there is any limit of nonce and state but if it is long it must be accepted and returned properly or rejected with a defined message?

From the FAPI Suite:

As for minimum length, OIDC says some comments about this:

I'm not sure if FAPI suite checks the entropy but if it did I assume it'd be based on the shannon entropy calculations of at least 128bit like other entropy checks.

[2021-07-12 20:17] bermr opened #162 "Sandbox certificates generation"
Can't find description on how to fill the fields below on the signature certificate generation script (https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/certificate-generation-instructions/brseal.cnf) (Sandbox)

organizationalUnitName (OID 2.5.4.11): Certificate Authority Name
organizationalUnitName (OID 2.5.4.11): CNPJ of the Registration Authority
organizationalUnitName (OID 2.5.4.

[2021-07-13 13:01] ginglass commented on #159
Hi guys, sorry for long delay.

In my opiniuon, both are correct. When a user click on "cancel" on consent page the ASPSP must change status to REJECTED. If a user cancel a consent on TTP (ex., at some consent management page) the TTP must call DELETE method at consent endpoint. So, the ASPSP have to change the status to REJECTED and revoke all related tokens. TTP should remove all related tokens

[2021-07-14 20:00] ginglass commented on #149
Hi @DeiGratia33 ,

the main point here is that developer´s portals is out of scope of Open Bankig and it is not so clear on specs. The term "clientes das instituições participantes" specified at 3.14 of IN99 and the obligation of EV cert to any "Sistemas Front-End" could allow some misunderstanding that it is not just for ASPSP´s customers.

I suggest to make a litle change on certificate profile

[2021-07-14 20:06] #162 closed

[2021-07-14 21:21] alinefsb opened #164 "Consents lifecycle and Tokens"
There was a change in the specifications related to access and other tokens ([https://github.com/OpenBanking-Brasil/specs-seguranca/issues/144]):

“1. shall only issue access and other tokens on presentation of a refresh token when the Consent Resource it is bound to is active and valid;”

that raised doubts, as consent has several states.

For phase 3, the following sequence diagram shows these s

[2021-07-14 21:44] DeiGratia33 commented on #149
Hi @ginglass.

IMHO: We should do something different. This kind of explanation could be included inside of a FAQ.

Or, better yet, I was discussing with some folks to create a table to give a view of where (purpose) each type of certificate would be used. Including things that are not a certificate, such as Key Enc.

What do you think?

[2021-07-14 21:53] DeiGratia33 commented on #161
A PR is needed to correct the typo.

[2021-07-14 23:24] ginglass commented on #149
Hi @DeiGratia33

Great suggest, It also could be present in a FAQ.

Unfortunately, public owned companies need a more formal approach, like a spec, to justify it´s decision on buy (or not buy) something. Thats why I suggest inside a section on cetificate specs dedicated to explain details about EV certificates required by IN 99. The same certificate refered by IN99 3.14, whose understanding sounds

[2021-07-15 15:05] leandrobarra commented on #149
Your information was very enlightening.
Thank you very much.

[2021-07-15 15:38] OpenBankingBrasil-git commented on #141
Has the Security WG Agreed on updating the specs to include the PKCE?

If not are you planning to take this to the Securtiy WG? This might impact the RP Certification Policy as having the PKCE decreases the risk of having non-certified RP.

@ginglass @joaorodolfo

[2021-07-15 15:42] EkkeErick commented on #141
Has the Security WG Agreed on updating the specs to include the PKCE?

If not are you planning to take this to the Securtiy WG? This might impact the RP Certification Policy as having the PKCE decreases the risk of having non-certified RP.

@ginglass @joaorodolfo

[2021-07-15 21:31] joaorodolfo commented on #141
Tks @EkkeErick, it's should be presented into Security WG.

I’m just thinking it's should be presented after close the gaps from Fase 2/go live subjects I also have a question, Who will introduce it using a compressive benchmarking wich a list of pros and cons for the Sec WG?

[2021-07-16 13:24] RalphBragg commented on #164
This is being addressed by the Payments Working Group literally right now.

[2021-07-16 14:48] ginglass commented on #141
Hi folks.

Finaly we discuss this point at security WG and, despite of the relevance of RP certification,  we decide that PKCE should not be mandatory by now. OBB sec profile (and FAPI-1-Advanced) requires confidential clients and MTLS (with confidence granted by ICP-Brasil) to token exchange, so PKCE doesn't help to avoid relevant threats.

Can I close this ticket?

Best regards,

[2021-07-19 00:44] joaorodolfo commented on #141
Yes.

[2021-07-19 17:30] samlarsen1 commented on #159
@ginglass "When a user clicks on "cancel" on consent page the ASPSP must change status to REJECTED"
 - We're having trouble clarifying this point as it doesn't seem to be documented clearly anywhere.  Please can you clarify in the documentation - there is also no conformance test for this.

[2021-07-19 21:43] RalphBragg commented on #159
There will be shortly.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sam Larsen ***@***.***>
Sent: Monday, July 19, 2021 6:30:49 PM
To: OpenBanking-Brasil/specs-seguranca ***@***.***>
Cc: Ralph Bragg ***@***.***>; Comment ***@***.***>
Subject: Re: [OpenBanking-Brasil/specs-seguranca] Consent Life Cycle Management Not Clear: e.g Cancel Consent - update to reject

[2021-07-21 12:43] matheus-meneses opened #165 "DCR Client URI's Validation"
Hi, i'm running DCR flow and i have a question about how validate Client URI's present in software statement.

According the specification https://datatracker.ietf.org/doc/html/rfc7591#section-5

In a situation where the authorization server is supporting open client registration, it must be extremely careful with any URL
provided by the client that will be displayed to the user (e.g.,"logo_uri",

[2021-07-22 13:16] joaorodolfo commented on #149
@DeiGratia33 @ginglass
Im my opinion, we should go for both ways: publish it at the FAQ and include this info at one Table with Certs purpose vs environment.

Before I change it, I will post here to collect some feedbacks.

[2021-07-23 22:35] mpivaa opened #166 "Use content-type application/jwt for signed payloads"

[2021-07-27 17:47] #6 closed

[2021-07-28 20:01] ginglass commented on #165
Hello, I dont know if this requirement could be applied to Open Bank clients because their registration process are not so "open", but it is a good point. Open Banking Brazil DCR spec doesn't emphasize these requirement, but as part of RFC7591 I suppose it'll be checked, @RalphBragg, @alex-siqueira and @joaorodolfo do you know if these constraints are validated by OIDF certificate process?

[2021-07-28 20:06] RalphBragg commented on #165
Those uri'a explicitly should be taken from the software statement assertion not from the rfc7591 request.

The number of tests for SSA / DCR registration is quite limited at the moment and they are being provided by the open if foundation.

If I was a bank, I wouldn't be trusting anything that was self asserted by a tpp that didn't come from the SSA.

Critical elements like jwks_uri MUST be taken

[2021-07-28 21:21] bernardoVale commented on #165
I think the real question is:

 if a TTP has the following SSA:

[code]

should the authorization server deny that request like recommended by [RFC7591](https://datatracker.ietf.org/doc/html/rfc7591#section-5)? @RalphBragg

[2021-07-28 21:33] alexasensio commented on #146
@ginglass @alex-siqueira @RalphBragg @mariatagalaki   this can be closed

[2021-07-28 21:35] RalphBragg commented on #165
Hi,

Yes they can however any changes to a software statment are audited and would require several things to actually result in exploit with reasonable difficulty depending on banks security posture. If you have concerns or want to see additional validation done by the directory against these uris reach out to the Directorio team.

(e.g there is a new request to restrict the image format to just s

[2021-07-30 11:49] melothiagort opened #167 "Questions: How to generate and use encryption key for JWE"
I understood that the encryption key for the request object is necessary.

1) So, what are the steps do create this encryption key ?
2) Should it be created using the Directory ?

I have entered in the directory URL (https://web.sandbox.directory.openbankingbrasil.org.br/organisations) and I have created a Software Statement .
After that I am allowed to create a EncKey.

When I try to upload the C

[2021-07-30 14:07] petersonfs commented on #149
Thank you for the information @DeiGratia33 @ginglass. A FAQ would be appreciated by the community.

[2021-07-31 07:15] jogu commented on #160
Yes, to confirm, for FAPI certification the requirements are:

1. A 128 character `state` MUST be supported

2. A 384 character `state` MUST be either supported or rejected as too long (i.e. it can't be accepted but then truncated)

[2021-08-02 11:31] RalphBragg commented on #166
Hi - the signing mechanism that has been adopted is a detached signature. Which signed payload is sent as a JWT that doesn't have the correct content type?

[2021-08-02 11:32] RalphBragg commented on #165
@ginglass - I think we should close this or at least move it to the Directorio team to see if they want any additonal validation added.

[2021-08-02 11:34] RalphBragg commented on #161
@ginglass  - any update? If you want someone else (me) to pick it up or even @FlavioABrandao just assign the ticket to them to correct the typo.

[2021-08-02 11:35] RalphBragg commented on #159
This issue has been addressed i believe by including a specific conformance test to drive this scenario. @georgecodes If so I propose it can be closed.

[2021-08-02 11:41] joaorodolfo commented on #161
I had done the update. We can close this ticket.

[2021-08-02 11:42] #161 closed

[2021-08-02 11:48] joaorodolfo commented on #149
We preparing a PR to improve it into the new certificate standards version. We can close at this ticket.

[2021-08-02 11:49] RalphBragg commented on #167
The command on the directory UI is incorrect, it will be addressed shortly. In the meantime you can use this
openssl genrsa -aes256 -out private.pem 2048
openssl rsa -in private.pem -outform PEM -pubout -out public.pem

[2021-08-02 13:34] #141 closed

[2021-08-02 13:54] ginglass commented on #165
I agreed that it could be closed... it is not necessary this check as ASASP has to trust on SSA content (signed by directory and auditable by it´s internal logs)...

[2021-08-02 14:30] melothiagort opened #168 "Public JWE in wrong JWKS URL"
After creating the encryption key for JWKS in the software statement, the enc key is stored in transport.jwks, but I was expecting it in application.jwks

 Here is an example:

https://keystore.sandbox.directory.openbankingbrasil.org.br/5d249486-c697-5295-a856-9955ed3ac332/eb3f76ae-da38-4e94-81f5-5ce1f9f7768b/application.jwks

https://keystore.sandbox.directory.openbankingbrasil.org.br/5d249486-c6

[2021-08-02 14:38] georgecodes commented on #159
A user cancelling out of the consent page and resulting in the ASPSP setting the status to REJECTED is indeed covered by a consent API test.

[2021-08-02 15:43] MarcusJanuario commented on #159
Right now though, if we just cancel the authorization request instead of going through with it and setting the status to REJECTED what would happen with the conformance test?

We would like to understand how urgent it is for our institution to work on this (since right now we are not doing this), if we can postpone it or not.

[2021-08-02 15:55] RalphBragg commented on #159
If it was rejected by the user (and the user was returned to the TPP) if it isn't REJECTED it should fail conformance.

[2021-08-02 15:56] RalphBragg commented on #159
This is also a mandatory flow for payments as well, and if the TPP stuffs up the pixPayment request vs the consent.

[2021-08-02 16:16] alexasensio commented on #159
Can anyone point to the particular conformance test that is checking this? Is this as part of OIDF tests or functional ones?

[2021-08-02 16:26] mpivaa commented on #166
@RalphBragg I believe that the security working group voted to not use detached signatures for phase 3.

[2021-08-02 17:33] georgecodes commented on #159
It’s a test module in the consent API functional tests. Specifically; consent-api-status-declined-test

[2021-08-04 15:46] bernardoVale commented on #104
Adding my two cents here @RalphBragg. It also might be a good idea to mention that if you're using structured access tokens you cannot only rely on signature verification in your resource server because tokens might get revoked by the TPP.

[2021-08-04 16:39] mpivaa commented on #166
Correcting: application/json

[2021-08-05 13:30] RalphBragg commented on #168
Can you remove this key and readd it. This was a configuration issue with this certificate profile type.

[2021-08-06 16:15] #168 closed

[2021-08-06 16:15] RalphBragg commented on #168
Assuming this is closed.

[2021-08-06 18:03] douglasramaldesOA opened #170 "Question: Access Token Generation - Phase 3"
Hi friends, can you help me with a question, which is related to phase 3 access token generation.

To get the payment scoped access token, would it be basically like this?
`curl --cert transport.pem --key transport.key example/token -X POST -d 'grant_type=client_credentials&scope=payments openid'`

Is anything else needed ?

[2021-08-06 22:22] #166 closed

[2021-08-09 14:47] RalphBragg commented on #170
Yes

[2021-08-09 16:32] douglasramaldesOA commented on #170
Thank you Ralph,

Can you tell me if there are already tests on `www.certification.openid.net` for phase 3?

[2021-08-09 16:43] RalphBragg commented on #170
Yes - however the content types are only JSON payloads.
ID2 of the security profile was only published on friday which marked all of these reqests and responses as needing to be JWTs.

The specification for this was signed off on friday so it'll take a week or so to get the directory, mock bank and both conformance suites setup to send process and validate JWTs as defined by the new specs.

In the

[2021-08-09 16:43] RalphBragg commented on #170
@douglasramaldesOA  - can you close this ticket if you're happy with it.

[2021-08-09 18:30] #170 closed

[2021-08-11 16:25] dcreado opened #174 "Question: Do JWS Signing Requirements only apply to Resource Server resources? Answer: Yes."
Hi

the Message Content Signing Considerations of open-banking-brasil-financial-api-1_ID2 requires that iss and aud claims on JWTs requests and responses (I'm assuming here that id token is included as well) to be the organizationID for the issuer and client on the Central Bank Directory.

There are multiple specification that require and recommend those claims to be the issuer URL and client id,

[2021-08-11 19:14] melothiagort opened #175 "Question: How to register Encryption key for ASPSP (Brazil Directory)"
From ASPSP pont of view, how can I make the public key to encrypt the request object available to the TPP ?

I am creating a software statement in the sandbox directory just to add the EncKey in order to get the KID for the key and make it available in the JWKS.

Is this correct ? I have heard that i shoud not include the public key to encrypt the request object  in the directory.

Is there any do

[2021-08-12 15:18] samlarsen1 opened #176 "Broken link in security spec"
The following section has a space in the url and doesn't resolve, it needs to be updated to remove the space:
https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-financial-api-1_ID2.html#section-6.1-1.3.5.2.1

From this update: https://github.com/OpenBanking-Brasil/specs-seguranca/pull/169/files#diff-03e590260fc79d8a5195187365563c443b685df5f5f555ffaaa96944d61988e7R349

[2021-08-13 14:56] DeiGratia33 opened #177 "CRL and OCSP usage for ICP-Brasil Certificates"
I believe it would be appropriate to the Security WG discuss the enforcement of the usage of OCSP and CRL to perform validation of the certificates.

Suggestion:

The OCSP validation should be performed (first method of validation)
The CRL validation must be performed (second method of validation, acting as fallback)

[2021-08-13 17:21] RalphBragg commented on #177
Hi,

OCSP is relied on in multiple places throughout the ecosystem and is a requirement for CAs to support as a CAB CA. Creating a backup service where we are reliant on stale CRLs (if OCSP doesn’t work why would CRLs) needs to be impact assessed by security and by legal.

If Directory relies on a CRL that is 4 hours old and a certificate HAS been revoked. Who is liable for payments made with a re

[2021-08-13 17:53] DeiGratia33 commented on #177
Just remember, OCSP does not mean just in time.
CAB/Forum
4.9.10 On‑line revocation checking requirements

[2021-08-13 18:03] RalphBragg commented on #177
If only there was a PKI out there that would immediately reflect a status change of a software statement or an organisations presence on the directory...

[2021-08-15 16:04] RalphBragg commented on #174
This alternative was discussed with the security group and rejected in favour of what is currently specified. The purpose of the JWT is not security but non repudiation.

In the case of Brazil  Open Banking it is an organisation that is assuming responsibility for the 'signature' of the entity, not a client. i.e if it would be contested the court wants to know what legal entity signed it there's n

[2021-08-15 18:08] RalphBragg commented on #175
Hi,

Using a specific software statement is the correct way. Don't assign the software statement any regulatory roles.

RB

[2021-08-15 19:09] RalphBragg opened #178 "DCR - obligation on oauth client to use a specific format for tls_client_auth_subject_dn"
Whilst there is an obligation on the Authorisation Server to support a specific format of the tls_client_auth_subject_dn, there is no corresponding provion on the oauth client to use that mechanism for the creation of this value.

Section 7 of Brazil DCR needs a client provision section created with the following text.

if required, shall calculate `tls_client_auth_subject_dn` by using x.500 Attri

[2021-08-15 23:38] dcreado commented on #174
Thanks Ralph,

indeed, there is no conflict with the OpenId Connect Core. But there is a conflict with JARM.
https://openid.net//specs/openid-financial-api-jarm.html - section 4.1
The JWT always contains the following data utilized to secure the transmission:
iss - the issuer URL of the authorization server that created the response
aud - the client_id of the client the response is intended for
ex

[2021-08-16 01:47] RalphBragg commented on #174
Hi,

Again, there is no issue with JARM or any of the openid connect / oauth 2 requirements. The openid foundation and Raidiam are already testing the implementation of this in the oidf conformance suite.

this signing spec does not in anyway change or impact any of these requests.

[2021-08-16 07:31] #159 closed

[2021-08-16 07:32] RalphBragg commented on #159
This has been addressed and a specific test class checks for the correct migration of consent status's into the correct state.

[2021-08-16 07:34] RalphBragg commented on #167
These instructions were also added to the directory UI.

[2021-08-16 07:34] #167 closed

[2021-08-16 07:37] RalphBragg commented on #146
The correct behaviour has been implemented in the conformance and certification tests.

[2021-08-16 07:37] #146 closed

[2021-08-16 07:39] RalphBragg commented on #143
If there's no further feedback and given the number of successful passes of the security and functional tests i'm going to  close this ticket as no longer being required. Feel free to re-open with a proposal for an improvement.

[2021-08-16 07:39] #143 closed

[2021-08-16 07:40] RalphBragg commented on #140
Closing - marked as answered with no followup questions.

[2021-08-16 07:40] #140 closed

[2021-08-16 07:41] RalphBragg commented on #138
Closing - marked as answered with no followup questions.

[2021-08-16 07:41] #138 closed

[2021-08-16 14:19] dcreado commented on #174
I think I got it now...
The JWS section does not applies to request and response objects of the FAPI authorization endpoints. Is that correct?
if that is the case, the text needs to be clearer on where does that applies to or suppress the section from ID2 as it implies that **every** JWT requests and responses (including the authorization) are affected.

[2021-08-16 15:45] RalphBragg commented on #174
hi - this is correct and yes on second reading it isn't clear. I have a draft pull request to tidy up ID2 from an english language view point. A section for resource server requirements need to be created where this will be refrenced.

[2021-08-16 15:54] dcreado commented on #174
ok! now it makes complete sense :)

[2021-08-16 15:54] #174 closed

[2021-08-16 15:55] dcreado commented on #174
thank you!

[2021-08-17 17:11] joaorodolfo commented on #178
We will include it at Security WG agenda and keep it updated.

[2021-08-18 00:05] lujunior commented on #178
I leave as a suggestion use **[RFC 2253](https://datatracker.ietf.org/doc/html/rfc2253)**, to deal with how to read the client certificate subj and convert this as a String to be used in the DCR body.

[2021-08-19 14:47] bernardoVale commented on #178
**[RFC 2253](https://datatracker.ietf.org/doc/html/rfc2253)** is obsoleted by [RFC 4514](https://datatracker.ietf.org/doc/html/rfc4514)

[2021-08-19 15:48] ginglass commented on #178
Hello guys.

This attribute `tls_client_auth_subject_dn` is not required by DCR RFC7591, right? It is used as part of oAuth2 process when using MTLS (as RFC 8705), right? The main problem is the way AS decode a certificate subject DN (it have to follow RFC4514, but could use long or short names etc), right? On OBB, the registration endpoint is protected by MTLS (the client shall use the same trans

[2021-08-23 14:54] vinnyaju opened #179 "Trying to load BRSEAL CSR on Organisation Certificates (Error 400)"
Hi, i have generated a CSR to load on Directory, but i`m getting an error 400.

Certificate type: BRSEAL EXTERNAL
Error: Certificate Request Validation Error - Could not read certificate object from incoming PEM string - caused by - class org.bouncycastle.pkcs.PKCS10CertificationRequest cannot be cast to class org.bouncycastle.cert.X509CertificateHolder (org.bouncycastle.pkcs.PKCS10CertificationRe

[2021-08-23 15:02] RalphBragg commented on #179
A BR SEAL external is a certificate sourced from the Brazil PKI. i.e an external certificate authority. You can only use the internal Raidiam PKI by exception only. What you're doing is uploading a CSR to a certificate type that is expecting a Certificate.

[2021-08-23 15:06] RalphBragg commented on #178
@ginglass - yes it is required as part of MTLS https://datatracker.ietf.org/doc/html/rfc8705#section-2.1.2
The rest of your points are exactly spot on. Brazil requires that DCR is performed over a mutual TLS channel. Banks therefor should be making sure that they are confident that the MTLS channel is authenticated by the owner of the software statement. This property when used over DCR is nearly

[2021-08-23 17:34] vinnyaju commented on #179
Thanks for the quick reponse, but i thought i should load csr in the directory and notify my CA with my organisation id so it could sign my csr and upload my certificate directly on directory...

You say i should go directly to my CA with my CSR and it`ll not upload the certificate directly to the directory but provide it to me so i upload on directory?

[2021-08-23 17:52] joaorodolfo commented on #178
In terms of format, the Security WG have defined the examples in bellow:

- Start backwards, the order is reversed from what is entered.
- Append each RDN (RelativeDistinguishedName) segment with a comma ‘,’
- Use RFC Strings (CN, L, ST, O, OU, C, Street, DC, UID) + OBB Certificate Specs (businessCategory, jurisdictionCountryName , serialNumber)

Exemples:
subject_dn | Issuer
-- | --
UID=a12edd5f-

[2021-08-23 20:35] RalphBragg commented on #179
That’s correct, for production, brazil operates a “bring your own certificate” approach where you provide to your CA of choice the cerificate signing request. The ca will validate the software statement ID and organisationId with the directory and issue to you the certificate. You can then upload it, remove it etc at your leisure .

[2021-08-23 20:39] RalphBragg commented on #178
Remember if you mandate aspsp’s validate this field on a continuous basis, or if aspsp’s use this field on a continuous basis to check for a match for a transport certificate then you’ll have significant challenges for TPPs when it comes to renewals.

Trying to rely on the exact match every time really will cause long term issues. Banks need to understand what the identifiers are and then confirm

[2021-08-24 11:16] vinnyaju commented on #179
Thanks Mr. Bragg,

One last question about your answer, some CAs are asking for "Software statement ID" to issue the Payload Signature Certificate (BRSEAL), but it's completely useless for this purpose, It only make sense to issue the Client Certificate, named on documentation Transport Certificate (BRCAC), am i correct?

[2021-08-24 12:25] joaorodolfo commented on #179
My 2 sec here.

@vinnyaju you are correct. Maybe it's a mistake for some CA professional about the validation process.

You can notify CA, but, if you have any problem around it, send an email to Security WG, we can manager it into PKI Squad.

[2021-08-24 12:26] joaorodolfo opened #180 "Update into CERTs Specs // A BR SEAL external is a certificate sourced from the Brazil PKI. i.e an external certificate authority. You can only use the internal Raidiam PKI by exception only. What you're doing is uploading a CSR to a certificate type that is expecting a Certificate."
A BR SEAL external is a certificate sourced from the Brazil PKI. i.e an external certificate authority. You can only use the internal Raidiam PKI by exception only. What you're doing is uploading a CSR to a certificate type that is expecting a Certificate.
CSR = BRSEAL or BRCAC
CERT = BRSEAL_EXTERNAL or BRCAC_EXTERNAL

_Originally posted by @RalphBragg in https://github.com/OpenBanking-Brasil/spec

[2021-08-24 12:55] vinnyaju commented on #179
Thank you @joaorodolfo and @RalphBragg

[2021-08-24 12:55] #179 closed

[2021-08-24 16:46] RalphBragg opened #181 "Registration Access Token Recovery"
It appears that several banks (acting as TPPs) failed to record or log the client registration access token that should have been issued with the DCR response. Despite the obvious question mark of “how a TPP could get themselves into this situation”? it raises the question as to whether or not the ecosystem needs a mechanism to recover this credential if a TPP somehow forget it.

If this is someth

[2021-08-25 07:19] RalphBragg commented on #180
Obviously this applies to production only. Sandbox you can select BRSEAL and upload a CSR.

[2021-08-26 02:59] esachser opened #184 "Question: Message Content Signing"
Hi,
About the message signing, present on consents (for payments) and payments APIs, we've run into some questions.
1. Will there be some rule about how to validate `iat`claim? For example, in DCR process, the SSA must have been created at maximum 5 minutes in the past.
2. Will there be some rule about how to validate `jti` claim? How does it relates to the idempotency key? If there is no validati

[2021-08-26 14:29] cicloalcano opened #186 "Question: Are Payment initiation messages signed JWTs or JSON?"
Hello,

How payment initiation messages should be sent? In plain text or JWS format?

As stated in the items "Criar consentimento para iniciação de pagamento" and "Criar iniciação de pagamento".

The message is transmitted in plain text.

| body | body | CreatePaymentConsent | true | Payload para criação do consentimento para iniciação do pagamento Pix. |
|-------|-------|-------------------------

[2021-08-31 17:27] joaorodolfo commented on #180
It will be included  into CERTs SPEC ID2 - Draft in the future.

[2021-08-31 17:27] #180 closed

[2021-08-31 18:58] c0dc0d opened #189 "Question: As a ASPSP where do i get the tpp logo uri?"
To get the TPP's  LogoUri the https://openbanking-brasil.github.io/areadesenvolvedor/documents/OpenBanking-Guia_Operacao_Diretorio_Central.pdf show the ASPSP have to have an SST and a transport key to execute the client credentials flow.

Is that correct? Is there another way to get this piece of information?

[2021-09-01 18:04] bruno-ortizgb opened #190 "Should we require the accept header for signed API's"
In the fourth item of this [section](https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-financial-api-1_ID2.md#message-content-signing-considerations-jws-jws) of the security profile, it is stated that:
`The HTTP content-type of requests and responses with JWS messages shall be defined as: "application/jwt".`

shouldn't we require that the [accept header](https://d

[2021-09-04 17:57] RalphBragg commented on #189
the logo_uri is included on the software statement assertion. OP's should just set it on registration.

[2021-09-07 10:35] RalphBragg commented on #190
Hi - this isn't quite as straight forward. If a TPP requests application/jwt however they screw up their JWT or a bank can't process it then they will get a application/json response type back. If they specify a content type and don't specify that they can handle both then an interpretation is that the bank should return an 'invalid content type' which is less than ideal.

It would be better that

[2021-09-07 10:35] RalphBragg commented on #190
this ticket should be transferred to the specifications git.

[2021-09-07 10:37] RalphBragg commented on #189
Accepted Answer: The TPPs logo uri is included on the software statement assertion. If a TPP wishes to update this at a Bank they should use RFC7592 that all banks are required to support to update the client at the bank.

[2021-09-10 13:19] ranierimazili opened #191 "Question: Which endpoints must allow cpf and cnpj claims in phase 3?"
Hello,

I'm implementing phase 3 endpoints (payments) and I'm not sure where I need to allow the usage of cpf and cnpj claims as defined in the sections 5.2.2.2 and 5.2.2.3 of the [security spec](https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-financial-api-1_ID2.html).

For phase 3 endpoints, I think it makes sense to be available only at consent creation method (POST /pa

[2021-09-13 15:10] melothiagort commented on #189
Hello, Ralph. I think I did not understand the whole process. The operational guide (https://openbanking-brasil.github.io/areadesenvolvedor/documents/OpenBanking-Guia_Operacao_Diretorio_Central.pdf), page 90, in step 1, indicates that a BRCAC certificate (client certificate, from 5.2.2 --> https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-certificate-standards-1_ID1.html) mu

[2021-09-13 15:16] RalphBragg commented on #189
Hi,
No the bank doesn't have to buy a certificate to obtain the tpp logo. Look at the ASPSP end to end user guide. https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-dynamic-client-registration-1_ID1-ptbr.md

A TPP presents this SSA to the Bank which is signed by the directory https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-dynam

[2021-09-14 08:29] alexasensio commented on #191
Claims requests are to be supported only in the authorization request endpoint. See some examples at the [TPP User Guide](https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/tpp-user-guide.md#431-create-openid-connect-request-object).

Additionally, the POST /payments/v1/consents endpoint does not require the approval of the end-user. Is just a back-end to back-end call with no custome

[2021-09-15 17:43] linoVer opened #192 "Failing during brcac.csr upload"
I am trying to upload a brcac.csr in the software statement, I did it before, but I'm getting the error below.

Certificate Request Validation Error - Extended Key Usage validation failed, could not find Server Auth purpose

![error](https://user-images.githubusercontent.com/25750633/133483003-41a490ab-7bb5-44d2-b5c6-9196c96f211d.png)

[2021-09-16 08:32] RalphBragg opened #193 "Reference Update: PAR has been given an RFC 9126"
Normative references should be updated in all specifications

[2021-09-17 11:54] ranierimazili commented on #191
@alexasensio thanks for the support.

[2021-09-17 11:54] #191 closed

[2021-09-27 12:15] RalphBragg commented on #192
@OpenBanking-Brasil/gt-seguranca - we need guidance on this ticket. The specifications currently state that only clientAuth should be included in this profile however ICP and the Browser CAB forum want both serverAuth and clienAuth. We can change sandbox to explicitly match what is published OR we can update the scripts to generate CSRs in line with the CAB forum.

[2021-10-17 09:36] maritsekine opened #197 "Doubt about which access-token should be used to revoke consent?"
Today we have two types of access-token,
1 - Client_credentials - used by TPP to create/consult and revoke consent
2 - Authorization_code – used by TPP, *IN THE NAME* of the user, to consult data etc...

In these two scenarios
Type 1 access-token has only “consents” scope, that is, the TPP may create/consult/revoke the consents belonging to it.
Type 2 access-token has the same scopes as the permis

[2021-10-19 11:07] jogu opened #198 "Rotation of RFC7592 registration_access_token"
RFC7592 defines a mechanism that allows the authorization server to issue a new registration_access_token, invalidating the old one.

For similar reasons to refresh token rotation ( https://github.com/OpenBanking-Brasil/specs-seguranca/issues/129 ) there is the potential for the client to end up with zero working registration_access_tokens (with the additional problem that the client might be unaw

[2021-10-22 04:18] RalphBragg commented on #198
@travisspencer - it already was and the current votes based on the fapi ticket is to discourage its use in a fapi 2.0 profile. Given brazil is based on fapi 1 which is final it is completely appropriate for brazil in their profile to disable it.

@jogu - it’s a duplicate ticket.

[2021-10-22 09:36] RalphBragg opened #199 "Client Hijacking Possibilities using DCM"
There are a couple of checks that need to be explicitly added to the DCR and DCM specifications to prevent hijacking of clients.

1. DCM tokens should be explicitly bound to the UID of the transport certificate UID = Software Statment Id.

2. An explicit check needs to be added to dynamic client management to ensure that a client does not try to update an existing client that was registered with a

[2021-10-22 09:39] RalphBragg opened #200 "Encrypted request objects only required if not using par."
Clause 8 of the dcr specification could do with tidying up.

shall require encrypted request objects as required by the Brasil Open Banking Security Profile;

“as required by the Brasil security profile”, which only requires encrypted request objects if not using PAR”.

this clause should be amended to

If not requiring the use of PAR, shall require encrypted request objects as required by the Bra

[2021-10-23 15:28] melothiagort opened #202 "Registered Signature key in Directory is not in JWKS URL"
For the organization name (BCO DO EST. DE SE S.A.), Registration Number (BCO DO EST. DE SE S.A.), Organization ID (2d8829d2-4784-5a8a-9243-abd4a579000e).

The BRSEAL (Signature key) is correctly stored in the directory, but the JWKS URL is not showing the key
See the URL: https://keystore.directory.openbankingbrasil.org.br/2d8829d2-4784-5a8a-9243-abd4a579000e/3b2bc889-824f-4d8e-bb3d-d4d215689157/a

[2021-10-28 17:00] joaorodolfo opened #207 "Update the subjectDN example for Soluti CA into DCR / DCM doc."
Please, update the subjectDN example for Soluti CA.

The correct example is:
jurisdictionCountryName=BR,businessCategory=Private Organization,UID=c01a9251-2e02-46ae-a777-e014601dd60a,CN=openbanking.acsoluti.com.br,serialNumber=09461647000195,OU=de2f3928-f03b-4ada-bdfb-a847a9687763,L=Goiania,ST=GO,O=SOLUTI - SOLUCOES EM NEGOCIOS INTELIGENTES S/A,C=BR

https://github.com/OpenBanking-Brasil/specs-seg

[2021-10-30 12:23] ranierimazili commented on #198
The final decision is to not allow rotation the registration_access_token as published on [OpenBanking Informa #81](https://us5.campaign-archive.com/?u=49f5ff8910ce85bdb1d9a7864&id=db99e2d5c2).
So I think this issue can be closed.

[2021-10-30 12:59] ranierimazili opened #209 "JTI lifetime x idempotency-key lifetime"
At [OpenBanking Informa #81](https://us5.campaign-archive.com/?u=49f5ff8910ce85bdb1d9a7864&id=db99e2d5c2) a lifetime for JTI reutilization was defined (86400 seconds).
I think the same should be defined for x-idempotency-key because it's another key that can be reused by institutions and keep the history of all x-idempotency-key in a database to query against it can be a very slow task for institu

[2021-11-03 13:50] melothiagort commented on #202
Hello, @RalphBragg , @EkkeErick , any updates from the Directory ?

[2021-11-04 14:27] RalphBragg commented on #199
Hi - tests have been added to the conformance suite to cover these scenarios but it would be good if the specifications team adopted these requirements into the DCR/DCM spec

[2021-11-04 23:02] EkkeErick commented on #202
Sorry, for that. I tried editing the comment and deleted it instead.

Everything is ok on the directory side and I understand that the certificate is already in a valid state on: https://keystore.directory.openbankingbrasil.org.br/2d8829d2-4784-5a8a-9243-abd4a579000e/3b2bc889-824f-4d8e-bb3d-d4d215689157/application.jwks.

As Ralph mentioned before the issue was caused because a few Certificates ha

[2021-11-04 23:02] #202 closed

[2021-11-10 16:00] RalphBragg opened #212 "Incorrect table of regulatory roles to scopes mapping in DCR Specification"
The DCR specification contains a table of regulatory roles to scopes mapping that says PAGO should have access to the RESOURCES and CONSENTS scope. This table was created before the phase 3 specification was published. In the payment_swagger there is no requirement to support resources, indeed the description explicitly states that the permissions and resources model will not be adopted for phase

[2021-11-12 00:26] joaorodolfo commented on #207
Done.

[2021-11-12 00:26] #207 closed

[2021-11-16 16:20] balasubhramanian opened #218 "Question: How to generate Server certificate for Sandbox"
I am able to create BRCAC & BRSEAL CSR & upload to sandbox. Able to make api calls to directory api using BRCAC certificate downloaded from sandbox.

Now for supporting mTLS, I need to install certificate given by ICP Brazil in my server. Please help on the step to generate server certificate.

[2021-11-18 19:37] #212 closed

[2021-11-22 19:38] joaorodolfo commented on #178
@alexandre-stockhausen os documentos de DCR já foram atualizados e estão aderentes aos testes de DCR. Qualquer dificuldade por favor direcionar o problema via Squad de Operação Fase 2/3 através da sua associação.

[2021-11-22 19:38] #178 closed

[2021-11-22 19:43] joaorodolfo commented on #176
Hi @samlarsen1 please, have a look at the updated docs and let we know if you got some error.

https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-financial-api-1_ID3.md
https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-financial-api-1_ID3.html

Thanks.

[2021-11-22 19:43] #176 closed

[2021-11-28 10:20] #199 closed

[2021-11-30 01:43] joaorodolfo commented on #218
For ICP webssl certs, you should look at the Certs Specs in: https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-certificate-standards-1_ID1.md.

If you are an openbanking brazil participant, you are able to open some ticket into servicedesk as well:
https://openbanking-brasil.github.io/areadesenvolvedor/#suporte-ao-desenvolvedor

[2021-11-30 01:43] #218 closed

[2021-11-30 18:30] #198 closed

[2021-12-01 18:39] michellebandarraChicago commented on #104
Hi guys, this issue is still valid or should we close it?

[2021-12-01 18:40] michellebandarraChicago commented on #110
Hi guys, is this issue still valid or should we close it?

[2021-12-02 02:22] #189 closed

[2021-12-02 02:23] #186 closed

[2021-12-02 02:23] #175 closed

[2021-12-02 02:24] #130 closed

[2021-12-02 02:24] #91 closed

[2021-12-02 02:33] #103 closed

[2021-12-02 02:34] #106 closed

[2021-12-02 02:37] michellebandarraChicago commented on #129
Hi Ralph. My understanding is that #215 solved this issue. Is that right?

[2021-12-02 12:26] michellebandarraChicago commented on #209
@OpenBankingBrasil-GtEspecs

[2021-12-02 12:37] michellebandarraChicago commented on #200
Hi @RalphBragg , Could you confirm if this issue has been addressed by the new release of the DCR document?
Thank you

[2021-12-10 18:08] balasubhramanian commented on #192
Hi @RalphBragg , I am currently facing this issue. Can you please let me know the solution for this.
I am trying upload to CSR with serverAuth as extendedKeyUsage to generate the server certificate

[2021-12-13 14:02] ranierimazili opened #223 "Can DCR be performed multiple times with same client (software_statement) on the same server (participant)?"
Hello,
I'm testing the DCR against other participants (sandbox) and I could see that on some of them, after register my client and gain a client_id, if I try to register again instead of receive a new client_id I receving an error (HTTP 400).
The messages I've have receving until now are:

[code]
or

[code]

The tests above were done using private key... I've tried other tests using MTLS and on th

[2021-12-20 16:51] ranierimazili commented on #223
@EkkeErick first, thanks for your reply...
In my opinion, it should be permitted to execute multiple DCR with the same data, and here I'm applying the same concept of the rotation of the registration_access_token.

Why the rotation of the registration_access_token was prohibited? Because if on an update you miss the response, you'll lose the token to update your client.

What if you trigger the DC

[2021-12-20 18:15] joaorodolfo commented on #223
Hi @ranierimazili and @EkkeErick,
Can I share some docs to provide the current guidance?
DCR / DCM Specs: https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-dynamic-client-registration-1_ID2-ptbr.md
DCR/DCM Swagger Example: https://raw.githubusercontent.com/OpenBanking-Brasil/specs-seguranca/main/dcr_review/dcr-dcm-swagger.yaml

Into both documents, the Security WG

[2021-12-20 19:32] ranierimazili commented on #223
@joaorodolfo about the rotation of the registration_access_token, my fault... the specification kept the understanding that it can be rotated... thanks.

However I still think that DCR should allow multiple calls for the same client, because in case of missing the response, the only option should be create a new software statement, what can't be impractical in a production environment.

Do you see

[2021-12-21 12:30] DeiGratia33 opened #224 "CIBA Credit Proposition Timeout and Expiration Timeout"
For CIBA (Credit Proposition) it would be necessary to adjust the specification to include:

a) The credit proposal identification generated by the EPOC entity.
Even with the total hint/hint_numbers,  would be appropriate to include an identification of the credit proposal generated by the EPOC. This identification would solve cenarios where the user could go to more than one EPOC and ask for prop

[2022-01-04 18:38] galenodemelo opened #225 "Inconsistencies between `.README` and HTML specs page"
Recently, we noticed some differences while reading the `.README` file and the website version of these specs.

An example occurred when we were planning to configure the _refresh token_ rotation (since it's a valid way to make them last more), and we didn't see, [on the site](https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-financial-api-1_ID3.html) anything prohibiting th

[2022-02-17 02:57] joaorodolfo commented on #89
We have already updated the DCR/DCM doc. If you cat more gaps please let we know. Thanks.

[2022-02-17 02:57] #89 closed

[2022-02-17 03:07] joaorodolfo commented on #30
I sent it to Backlog of WG-Security.

[2022-02-17 03:07] #30 closed

[2022-02-17 03:12] joaorodolfo commented on #33
Fixed. From https://www.websequencediagrams.com/files/render?link=1Xqm7oHVrWJ0Ya34s9kdzG1kHpwLobAftNdQHHvf44ikYZadVrou8iFhiFC9pSMP to the actual image into TTP guide.

[2022-02-17 03:12] #33 closed

[2022-02-17 03:17] joaorodolfo commented on #39
@christianbalz, please, let we know if you have any text suggestion to improve the TTP user guide. If you have, could you please send it to: gt-seguranca@openbankingbr.org. Thanks!

[2022-02-17 03:17] #39 closed

[2022-02-17 03:28] joaorodolfo commented on #86
I sent it to WG Security to include into SD FAQ.

[2022-02-17 03:28] #86 closed

[2022-02-17 03:31] joaorodolfo commented on #90
It's solved for now, it will move to new Confluence platform, then we can talk about the best approach to keep all docs updated.

[2022-02-17 03:31] #90 closed

[2022-02-17 03:39] joaorodolfo commented on #225
Hi @galenodemelo thanks for the heads up. I will send it to Security WG.

[2022-02-17 03:44] joaorodolfo commented on #223
@ranierimazili may be, there are cases when a bank using a multiple brand. Someone had talked about it into security WG but for the moment, there are no new direction to support it.

Please if you see any scenario with you will need it, could you notify the securty wg to talk about it? Thanks

[2022-02-17 03:44] #223 closed

[2022-02-17 03:52] joaorodolfo commented on #209
It will be sent to GTSpecs.

[2022-02-17 03:52] #209 closed

[2022-02-17 03:55] joaorodolfo commented on #200
It will be sent to backlog into Security WG. Thanks.

[2022-02-17 03:55] #200 closed

[2022-02-17 03:59] joaorodolfo commented on #193
@RalphBragg did you know if there are some big changes into RFC or is it only a final version of the old RFC:(https://tools.ietf.org/html/draft-ietf-oauth-par)?

Thanks

[2022-02-17 04:01] joaorodolfo commented on #190
It will be sent to GT Specs.

[2022-02-17 04:01] #190 closed

[2022-02-17 04:07] joaorodolfo commented on #184
@esachser please have a look into: https://us5.campaign-archive.com/?u=49f5ff8910ce85bdb1d9a7864&id=db99e2d5c2
There are instructions about JTI.

Please, if you have more question, could you open a ticket into OpenBanking Brazil service desk when someone can cat you question and reply quickly?

Thanks.

[2022-02-17 04:07] joaorodolfo commented on #184
@esachser please have a look into: https://us5.campaign-archive.com/?u=49f5ff8910ce85bdb1d9a7864&id=db99e2d5c2
There are instructions about JTI. Please, if you have more question, could you open a ticket into OpenBanking Brazil service desk to some one cat you question and reply quickly?

[2022-02-17 04:07] #184 closed

[2022-02-17 04:29] joaorodolfo commented on #148
Guys, after Phase 2 and Phase 3 started, it wasn't mentioned as an issue from anybody into the ecosystem about this specific point.
I believe that all participants have addressed it.  We can keep talk OBB improvements, but for the moment, I can't see any problem with it.

[2022-02-17 04:32] joaorodolfo commented on #177
We had discussed it into security WG. We will include it on SD FAQ.

[2022-02-17 04:32] #177 closed

[2022-02-17 04:39] joaorodolfo commented on #149
We had included a table into Certificate Specs with details. If you have questions, please have a look: https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-certificate-standards-1_ID1-ptbr.md

[2022-02-17 04:39] #149 closed

[2022-02-17 04:53] joaorodolfo commented on #110
@RalphBragg did you have some reference to include here? if not, we can close this ticket. Thanks.

[2022-02-17 05:04] joaorodolfo commented on #181
Guys, for the moment, I believe which it had been improved into DCR Docs and Certification Tests published at the end of last year.

For the moment, there is no plan to support the Re-registration.
To solve any problem in flow, the participant should use the ServiceDesk to solve it.

We had created the DCR functional tests to solve the gaps in the ecosystem. But feel free to send some improvement

[2022-02-17 05:04] #181 closed

[2022-02-17 05:13] joaorodolfo commented on #111
@RalphBragg should we close it or we have to include some clause into FAPI Brazil Doc? Thanks

[2022-02-17 05:25] joaorodolfo commented on #123
It's handled into:
https://github.com/OpenBanking-Brasil/specs-seguranca/issues/75
https://github.com/OpenBanking-Brasil/specs-seguranca/pull/145
https://github.com/OpenBanking-Brasil/specs-seguranca/pull/215

[2022-02-17 05:25] #123 closed

[2022-02-17 05:25] joaorodolfo commented on #129
It's handled into:
https://github.com/OpenBanking-Brasil/specs-seguranca/pull/215

[2022-02-17 05:25] #129 closed

[2022-02-17 05:28] joaorodolfo commented on #147
It's no longer more necessary.

[2022-02-17 05:28] #147 closed

[2022-02-17 19:36] rafael-hashimoto opened #227 "Códigos de erro"
Levar para discussão no GT:
Na seção "6.1 Considerações sobre assinatura do conteúdo de mensagens" do Perfil de Segurança , no item 9 (disponível só no .md), é definido que em caso de reutilização do JTI, deve ser enviado um código de erro 403.
Para outros casos que os dados da requisição não sejam aderentes, não há especificação da resposta, entendo que nesse caso o retorno seria um HTTP 400, com

[2022-03-03 12:48] #131 closed

[2022-03-03 12:59] pedro-octavio-andrade commented on #148
Item discutido na especificação:
https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-financial-api-1_ID3-ptbr.md#considera%C3%A7%C3%B5es-de-algoritmo-de-criptografia--cipher

[2022-03-03 13:12] pedro-octavio-andrade commented on #110
@samlarsen1 @RalphBragg  is this issue still valid? The issue is already solved by the documentations?

[2022-03-07 11:57] #225 closed

[2022-03-07 11:57] #148 closed

[2022-03-21 11:16] michellebandarraChicago commented on #193
Reunião do GT Segurança de 17/03/2022: Grupo debateu entendimento sobre o tema, chegando à conclusão de que não há impactos das mudanças da RFC 9126 na documentação PAR, portanto a issue pode ser finalizada

[2022-03-21 11:16] #193 closed

[2022-03-21 13:34] michellebandarraChicago commented on #98
Na Reunião do GT Segurança de 17/03/2022, o GT entendeu que problema relatado na issue não é atual e já foi endereçado, logo, issue pode ser encerrada

[2022-03-21 13:34] #98 closed

[2022-03-30 21:53] michellebandarraChicago commented on #104
Security WG concluded that the existing regulation already provides information about Access token encryption, as well as the mandatory encryption of the channel with the confidential client. Hence, the decision regarding the data to be included in the access token, as well as its encryption or not, is up to each institution according to its cybersecurity policies and risk profile.

[2022-03-30 21:53] #104 closed

[2022-03-31 13:28] #111 closed

[2022-03-31 16:59] michellebandarraChicago commented on #114
Conforme já comentado pelo Ralph, os valores mencionados na tabela "Claim in SSA" (utilizada no exemplo 8.1) podem ser considerados para validação dos valores correspondentes na Standard claims, especificado.
Alerta: Se alteração for realizada no Diretório Central (adição de “software_”) serão necessários ajustes em todas as IFs com implementação vigente

[2022-04-19 22:44] bermr opened #235 "Serasa SSL EV V2 intermediate purpose"
Hi all!

We are having difficulties to use our client certificate (transport).
We suspect that the problem is with the CA certificate, as openssl returns that the purpose on the Serasa CA certificate is unsupported when running openssl verify -purpose sslclient. Has anyone experienced any issues with this certificate?

Here the certificate purposes, we think that it should have the SSL Client CA p

[2022-04-22 15:04] #235 closed

[2022-05-04 20:50] michellebandarraChicago commented on #110
Tema enviado para tratativa pelo GT Especificações

[2022-05-04 20:50] #110 closed

[2022-06-09 19:48] joaorodolfo opened #244 "Padrão DCR/DCM HTML - Desatualizado frente ao MD"
Pessoal, após ao comunicado abaixo, foi enviado um link HTML onde não é apresentado as mudanças.
https://us5.campaign-archive.com/?u=49f5ff8910ce85bdb1d9a7864&id=5b8dd65a15

Apenas o arquivo MD em PT-BR, apresenta as mudanças, HTML em PT-BR e Padrão em inglês não reflete as mudanças.

@michellebandarraChicago @pedro-octavio-andrade

[2022-06-09 20:00] pedro-octavio-andrade commented on #244
@joaorodolfo Obrigado, GT Segurança já mapeou a questão e temos voluntário realizando ajuste da documentação em inglês.

[2022-07-18 21:46] mvmosouza opened #251 "Extended Key Usage validation while uploading brcac.csr file"
I am getting this error uploading brcac.csr generated file

"Extended Key Usage validation failed, could not find Server Auth purpose 400"
![erro_certificado_open_banking](https://user-images.githubusercontent.com/109555233/179622674-90dcf19f-e7ba-47de-96cb-6bf95fcd53b4.png)

This was already appointed with issue #192

Now is not working anymore.

[2022-07-19 12:56] joaorodolfo opened #252 "Ecossistema de Seguros Abertos - Poderá se conectar nos endpoints do Open Finance usando o mesmo certificados de cliente OPF?"
Olá, observando o manual de segurança do OPIN(Open Insurance), no que tange a especificação de certificados de cliente e supondo que seja usado a mesma cadeia V10 do ICP para emissão dos certificados de clientes, como os participantes do Open Finance irão poder identificar usando apenas os atributos do certificado quem é um participante OPIN e um participante OpenFinance?

A especificação atual de

[2022-07-19 19:54] duilioandrade commented on #251
it worked as follows

extendedKeyUsage = clientAuth, **serverAuth**

[2022-07-19 20:07] ErickRaidiam commented on #251
We are going to have a new Deployment on Sandbox Directory Tomorrow to exclude this validation as it's non mandatory that the server has the serverAuth

[2022-07-21 13:29] #251 closed

[2022-08-01 14:06] #244 closed

[2022-08-09 20:07] rodrigoMacknight opened #265 "Specify the sub claim in jwt as a unique identifier in the main spec"
As requested the specification workgroup suggests adding the following section to the open banking financial api docs found at:
[opfn-fapi](https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-financial-api-1_ID3.md)

#### "sub" Claim clarifications

This profile uses the oficial openId definition found at [opf-diToken](https://github.com/OpenBanking-Brasil/specs-seg

[2022-08-31 10:47] jogu opened #285 "CIBA spec client requests acr"
The confidential client part of the [CIBA spec](https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-financial-api-CIBA-1_ID1.md) says:

[code]

https://openid.net/specs/openid-client-initiated-backchannel-authentication-core-1_0.html#rfc.section.7.1 does not define a way to request the acr claim (other than `acr_values`).

I suggest these two clauses are removed, as

[2022-08-31 10:51] jogu opened #286 "CIBA spec needs more detail has to how cnpj / cpf claims are requested by client"
The BR CIBA spec says:

[code]

however the underlying CIBA spec provides no mechanism for requesting these claims, as OIDC claims are not directly supported.

https://openbankinguk.github.io/read-write-api-site3/v3.1.10/profiles/read-write-data-api-profile.html#identifying-the-consent-to-be-authorised solves a similar issue of passing the UK intent id by defining a custom member of the CIBA reque

[2022-09-12 01:03] jogu opened #287 "CIBA spec contains two "TODO"s"
The Brazil CIBA spec has two unfinished sections marked with TODOs:

and:

[2022-09-12 01:15] jogu opened #288 "CIBA spec: type of `login_hint` unclear"
The Brazil CIBA spec doesn't appear to define how the login_hint, e.g.:

` { "format": "urn:brasil:openbanking:ciba:login-hint-token-type:as-generated" }`

is passed in the signed request object. It should explicitly state if it is a string or json object. An example should probably also be added.

See https://bitbucket.org/openid/mobile/issues/208/types-of-several-values-in-authentication too as

[2022-09-12 01:19] jogu opened #289 "CIBA spec: Provide more guidance on binding_message"
The Brazil CIBA spec requires a binding_message to be used in some place.

It does not contain any definition of what an acceptable binding message is, for example minimum length or allowed character set.

For interoperability purposes, the spec should probably set out a minimum expectation, or make it clear this is allowed to vary between banks (in which case each bank should be required to docum

[2022-09-12 01:30] jogu opened #290 "CIBA spec: typ value in hint tokens"
The Brazil CIBA spec says:

As per https://datatracker.ietf.org/doc/html/rfc8725#section-3.11 it is recommended to use explicit typing (to avoid security issues that might arise from one kind of JWT being accepted in an unintended context), i.e. to define a typ value that is explicitly used only for this token.

[2022-09-12 01:41] jogu opened #291 "CIBA spec: flow involving QR codes would benefit from an introductory sentence or two"
The QR code mechanism is not really explained. A flow diagram or an introductory sentence of two would be helpful; something along the lines of "This flow involves the client making a CIBA request and then presenting an encrypted QR code that contains the `auth_req_id` returned from the AS. The user is told to open their mobile banking app and scan the QR code."

[2022-09-12 01:45] jogu opened #292 "CIBA spec: permissible login_hint values unclear"
The Brazil CIBA spec doesn't appear to explicitly permit or deny most kinds of login_hint values.

Presumably the client is free to user hints as suggested in the upstream spec, i.e. "The value may contain an email address, phone number, account number, subject identifier, username, etc., which identifies the end-user to the OP. ".

This should perhaps be made more explicit.

[2022-09-12 01:53] jogu opened #293 "CIBA spec: backchannel_endpoint_login_hint_token_types_supported defined but not explained"
The Brazil CIBA spec defined the new AS metadata `backchannel_endpoint_login_hint_token_types_supported`, but the permitted values, e.g. `urn:brasil:openbanking:ciba:login-hint-token-type:opaque`do not appear to have their meaning explained and are not mentioned anywhere else in the document.

[2022-09-13 05:39] jogu commented on #288
Ah, https://openid.net/specs/openid-client-initiated-backchannel-authentication-core-1_0.html#rfc.section.7.1.1 in the upstream spec makes it clear that login_hint is a string. So it might be better to have this login hint specified as just "urn:brasil:openbanking:ciba:login-hint-token-type:as-generated".

[2022-09-19 13:41] Wesley-Alves opened #314 "Esclarecer o uso de uma jwks_uri do servidor de autorização"
Olá! A documentação não deixa claro a necessidade da instituição expor uma própria jwks_uri para o seu servidor de autorização

A tabela https://openbanking-brasil.github.io/specs-seguranca/open-banking-brasil-certificate-standards-1_ID1-ptbr.html#section-8.3 do item 8.3 deixa implícito que a instituição deve expor uma jwks_uri própria protegida pelo certificado EV ou ICP-Brasil, porém, não existe

[2022-09-27 13:50] pedro-octavio-andrade commented on #285
https://github.com/OpenBanking-Brasil/specs-seguranca/blob/ciba-first-draft/open-banking-brasil-financial-api-1_ID3-ptbr.md
Em observância à regulação em vigor, sugere-se que:
Para a autenticação do usuário em autorizações de acessos às APIs de compartilhamento de dados (Fase 2), os Authorization Servers deveriam adotar, no mínimo, método compatível com LoA2; e
Para a autenticação do usuário em au

[2022-10-10 20:48] rmGinner opened #370 "Operational Limits Error"
Hello!

Running the tests in conformance engine, we have encountered a problem as described below:

![MicrosoftTeams-image](https://user-images.githubusercontent.com/7307075/194949784-fa2bad02-1e22-4212-8c52-461d03114c86.png)

The test, requires **minItems** in the field **data.data**. Although the field that returns response array is **data**, in this way we understand that is bug in engine. Is t

[2022-10-10 20:51] #370 closed

[2022-10-11 13:28] pedro-octavio-andrade commented on #285
Vamos manter a recomendação da espec. CIBA core da OIDF de considerar acr_values como opcional. As duas cláusulas serão removidas.

[2022-10-11 13:31] pedro-octavio-andrade commented on #286
Inclusão de claims de identidade será esclarecido no manual de implementação.

[2022-10-11 13:35] pedro-octavio-andrade commented on #287
Retirar da documentação

[2022-10-11 13:35] #287 closed

[2022-10-11 13:37] pedro-octavio-andrade commented on #287
Participants shall support all security considerations specified  in all clauses and sub clauses of [FAPI-BR] and [FAPI-CIBA]

[2022-10-11 13:39] pedro-octavio-andrade commented on #288
urn:brasil:openbanking:ciba:login-hint-token-type:as-generated

[2022-10-11 13:39] #288 closed

[2022-10-11 13:40] pedro-octavio-andrade commented on #289
Será incluso no manual de implementação

[2022-10-11 13:40] #289 closed

[2022-10-11 13:41] pedro-octavio-andrade commented on #290
typ: cibabr+jwt

[2022-10-11 13:43] pedro-octavio-andrade commented on #291
O manual de implementação contém a introdução sobre o fluxo CIBA

[2022-10-11 13:43] #291 closed

[2022-10-11 13:45] pedro-octavio-andrade commented on #292
O fluxo de iniciação de pagamento com CIBA não prevê uso de login_hint. Esse trecho voltará a especificação quando o grupo voltar a discutir a especificação de EPOC

[2022-10-11 13:45] pedro-octavio-andrade commented on #293
O fluxo de iniciação de pagamento com CIBA não prevê uso de login_hint. Esse trecho voltará a especificação quando o grupo voltar a discutir a especificação de EPOC

[2022-10-11 13:47] pedro-octavio-andrade commented on #224
O fluxo de iniciação de pagamento com CIBA não prevê uso de login_hint. Esse trecho voltará a especificação quando o grupo voltar a discutir a especificação de EPOC

[2022-10-11 13:47] #224 closed

[2022-10-11 14:03] pedro-octavio-andrade commented on #292
Revisar a documentação Open ID core sobre uso de login hint tokens. (OTPs ainda serão utilizados)

[2022-10-11 14:04] pedro-octavio-andrade commented on #293
Revisar a documentação Open ID core sobre uso de login hint tokens. (OTPs ainda serão utilizados)

[2022-10-11 14:34] marcusalmgren commented on #291
@pedro-octavio-andrade, quando está a dizer "manual de implementação", qual é o documento que está a referir? Se puder fornecer um link, agradecia muito, obrigado.

[2022-10-18 13:17] #286 closed

[2022-10-18 13:47] pedro-octavio-andrade commented on #293
Por que a especificação CIBA-br precisa ter a definição de types (backchannel_endpoint_login_hint_token_types_supported e login-hint-token-type)? Onde é utilizado? Há limitações que deveriam estar explícitas?

Especificar o que deve ser trafegado no login hint (OTP para o caso de iniciação de pagamento, CPF futuramente para EPOC)

[2022-10-19 10:29] pedro-octavio-andrade commented on #293
@RalphBragg
Hi Ralph,

A couple of questions came up after the posting of the first version of the CIBA BR Security Profile (SP) on github by the CIBA Squad. Can you check our understanding and interpretation of some of the rules defined by the spec, raised by the questions?

As we previously discussed, the use case we have intended for CIBA is payment initiation with either the insertion of an OT